<%= form_with(model: equipment_meta_datum, local: true) do |form| %>
  <% if equipment_meta_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_meta_datum.errors.count, "error") %> prohibited this equipment_meta_datum from being saved:</h2>

      <ul>
        <% equipment_meta_datum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :component_id, '設備類別' %>
    <%= form.select :component_id, Equipment::Component.all.map{ |c| [c.name, c.id] } %>
  </div>

  <div class="field">
    <%= form.label :company, '設備廠牌' %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :equ_model, '設備型號' %>
    <%= form.text_field :equ_model %>
  </div>

  <div class="field">
    <%= form.label :fc_para, '上傳使用者手冊' %>
    <% if equipment_meta_datum.fc_para %>
      <%= equipment_meta_datum.fc_para_filename %>
    <% end %>
    <%= form.file_field :fc_para %>
  </div>

  <div class="actions">
    <% if action_name == 'new' %>
      <%= form.submit '儲存設備型錄設定' %>
    <% else %>
      <%= form.submit '更新設備型錄設定' %>
    <% end %>
  </div>
<% end %>
