<h1>Equipment Meta Data</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_meta_data.each do |equipment_meta_datum| %>
      <tr>
        <td><%= link_to '內容', equipment_meta_datum %></td>
        <td><%= link_to '編輯', edit_equipment_meta_datum_path(equipment_meta_datum) %></td>
        <td><%= link_to '刪除', equipment_meta_datum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Meta Datum', new_equipment_meta_datum_path %>
