<div id='divLink'>
<table id="tblLink" width="816" height="60" style="margin: 0 auto; font-family: 微軟正黑體; font-size: 13.5pt; color: #000000; padding:0; cellpadding:0px; top:0px; left:0px; position:relative;" cellspacing="0" cellpadding="0">
	<tr>
		<td width='12'></td>
		<td>
			<img border='0' src='images/png-0072.png' width='128' height='118' style='padding-left:10px;position: relative; top: 40px'></td>
    <% if current_user.admin? || current_user.super_admin? %>
		<td width='12'></td>
		<td>
			<img border='0' src='images/png-0700.png' width='128' height='118' style='padding-left:10px;position: relative; top: 40px'></td>
		<td width='12'></td>
		<td>
			<img border='0' src='images/png-0001.png' width='128' height='118' style='padding-left:10px;position: relative; top: 40px'></td>
    <% end %>
		<td width='12'></td>
	</tr>
	<tr>
		<td width='12' height=200></td>
    <td onmouseover="style.background='linear-gradient(#7BA207,#D0EF62)';" onmouseout="style.background='linear-gradient(#8DBA08,#DEFF69)';"  width='240' align='center' style='background: linear-gradient(#8DBA08,#DEFF69);background-position: 0% 0%; padding-left:10px; padding-top:50px;border-radius:25px;' valign='top'>
      <a class="dropdown-item" href="/areas/guide" style="text-align:left;border-radius:5px;width:95%">工區地圖導覽</a>
          <a class="dropdown-item" href="/equipment/items/guide" style="text-align:left;border-radius:5px;width:95%">設備安裝位置地圖導覽</a>
          <% unless current_user.viewer? %>
          <a class="dropdown-item" href="/equipment/items/create_inspection" style="text-align:left;border-radius:5px;width:95%">巡檢表單資料輸入</a>
          <% end %>
          <a class="dropdown-item" href="/inspection/histories" style="text-align:left;border-radius:5px;width:95%">歷史巡檢表單查詢</a>
    </td>
    <% if current_user.admin? || current_user.super_admin? %>
      <td width='12'></td>
      <td  onmouseover="style.background='linear-gradient(#3665BC,#D6F7FF)';" onmouseout="style.background='linear-gradient(#3F86BC,#D6F7FF)';"  width='240' align='center' style='background: linear-gradient(#3F86BC,#D6F7FF);background-position: 0% 0%; padding-left:10px; padding-top:50px;border-radius:25px;' valign='top'>
            <a class="dropdown-item" href="/areas" style="text-align:left;border-radius:5px;width:95%">工區資訊管理</a>
            <a class="dropdown-item" href="/equipment/components" style="text-align:left;border-radius:5px;width:95%">設備資訊管理</a>
            <a class="dropdown-item" href="/equipment/items/management" style="text-align:left;border-radius:5px;width:95%">已上線註冊設備管理</a>
      </td>
      <td width='12'></td>
      <td onmouseover="style.background='linear-gradient(#FF7300,#FFFCCE)';" onmouseout="style.background='linear-gradient(#FFA850,#FFFCCE)';"  width='240' align='center' style='background: linear-gradient(#FFA850,#FFFCCE);background-position: 0% 0%; padding-left:10px; padding-top:50px;border-radius:25px;' valign='top'>
            <a class="dropdown-item" href="/users" style="text-align:left;border-radius:5px;width:95%">帳號權限管理</a>
            <a class="dropdown-item" href="/users/query" style="text-align:left;border-radius:5px;width:95%">帳號權限查詢</a>
            <a class="dropdown-item" href="/user/operation_histories" style="text-align:left;border-radius:5px;width:95%">使用者操作歷程查詢</a>	
      </td>
    <% end %>
		<td width='12'></td>
	</tr>
</table>
</div>
