<html>

<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js" ></script>
<title>系統登入</title>
</head>
<body>
<div id="divBGP" class="container">
  <% if alert %>
    <div id="error_explanation">
      <ul>
        <li><%= alert %></li>
      </ul>
    </div>
  <% end %>

	<div class="row align-items-sm-center" style="weidth:1024px;height:575px;position: relative; top: 50px;background-image:url('images/石門水庫3.png');background-repeat:no-repeat;Z-index:0;">
		<div id="divFrame" class="container" style="weight:329px;height:413px;position: relative; left:345px;top: -50px;background-image:url('images/Login_frame.png');background-repeat:no-repeat;Z-index:1">
			<div class="row  align-items-center" style="weidth:295px;height:110px;">
				<img alt="" src="/images/北區水資源局Logo2.png" style="position:relative;width:45px; height:45px; left: 25px;Top:-5px;">&nbsp;&nbsp;
				<label  style=" position:relative; left: 25px;Top:5px;  padding-bottom: -0.20rem;width:250px;color:#ffffff;" >
				<b>經濟部水利署北區水資源局</b> <br>
				<h6><b>巡檢服務</b></h6>
			</div>
			
			<div class="container" style="position: relative; left:20px">
        <%= form_with(url: create_session_path, local: true) do |form| %>
          <div class="row  align-items-sm-center" style="weight:295px;height:80px;">
            <div class="col">
              <div class="field" style="position:relative;letf:50px">
                <label for="name" style="font-size: 0.85rem;color:#ffffff">使用者名稱 / User Name</label><br>
                <input type="text" name="name" id="name" style="width:240px;">
              </div>
            </div>
          </div>
          <div class="row  align-items-sm-center" style="weight:295px;height:80px;">
            <div class="col" style="position:relative;letf:50px">
              <label for="password" style="font-size: 0.85rem;color:#ffffff">密碼 / PassWord</label><br>
              <input type="password" name="password" id="password" style="width:240px;">
            </div>
          </div>
          <div class="row  align-items-sm-center" style="weight:295px;height:100px;">
            <div class="col" style="position:relative;letf:50px">
              <div class="actions">
                <p></p>
                <input type="submit" name="commit" value="登入" data-disable-with="登入" style="border: none;border-radius: 4px;width:240px;color:#FFFFFF; background-color:#E91C63">
              </div>
            </div>
          </div>
        <% end %>
          <div class="row  align-items-sm-center"  style="height:246px">
            <div class="col">
              <label style=";position:relative;letf:50px;font-size: 0.65rem;color:#ffffff;width:260px;text-align:0px;vertical-align:bottom;">Northern Region Water Resources Office, Water Resources Agency, Ministry of Economic Affairs</label>
            </div>
          </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
