
<%= form.text_field :A_1_1_1, size: 20 %>


<%= form.radio_button :A_1_5_1, '合格' %>合格<br>
<%= form.radio_button :A_1_5_1, '不合格' %>不合格<p>判定原因：<br>
<%= form.text_field :A_1_5_2, size: 20 %>

<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_1_1,
            column2: :P_1_2 
} %>    

<%= form.radio_button :A_6_1_1, '已清潔' %>已清潔<br>
<%= form.radio_button :A_6_1_1, '受損' %>受損

<%= form.radio_button :A_6_3_1, '緊固' %>緊固<br>
<%= form.radio_button :A_6_3_1, '鬆動' %>鬆動

<%= form.radio_button :A_5_4_1, '彎折或破損' %>彎折或破損<br>
<%= form.radio_button :A_5_4_1, '無彎折或破損' %>無彎折或破損


<%= form.radio_button :A_5_5_1, '無介接' %>無介接<br>
<%= form.radio_button :A_5_5_1, '新增介接' %>新增介接，介接設備：<%= form.text_field :A_5_5_2, size: 19 %>
