<%= form_with(model: corporation, local: true) do |form| %>
  <% if corporation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corporation.errors.count, "error") %> prohibited this corporation from being saved:</h2>

      <ul>
        <% corporation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, '單位名稱' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit '確認' %>
  </div>
<% end %>
