<h1>Corporations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corporations.each do |corporation| %>
      <tr>
        <td><%= corporation.name %></td>
        <td><%= link_to '內容', corporation %></td>
        <td><%= link_to '編輯', edit_corporation_path(corporation) %></td>
        <td><%= link_to '刪除', corporation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corporation', new_corporation_path %>
