<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, '使用者名稱' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password, '密碼' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, '密碼確認' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :corporation_id, '隸屬單位' %>
    <%= form.select :corporation_id, Corporation.all.map { |c| [c.name, c.id] } %>
  </div>

  <div class="field">
    <%= form.label :role, '角色' %>
    <%= form.select :role, role_options %>
  </div>

  <div class="actions">
    <%= form.submit '送出' %>
  </div>
<% end %>
