<h2>使用者角色管理</h2>

<h4>
  使用者群組列表
  <%= link_to '新增', new_corporation_path, class: 'btn btn-primary' %>
</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>註冊單位</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @corporations.each do |corp| %>
      <tr>
        <td><%= corp.name %></td>
        <td>
          <%= link_to '編輯', edit_corporation_path(corp), class: 'btn btn-info' %>
          <%= link_to '刪除', corp, method: :delete, data: { confirm: '注意！執行刪除註冊單位時，若已有註冊使用者將同時被刪除，若要不影
響已存在的使用者，請用『編輯』修改資料，請確認是否仍要刪除該單位？' }, class: 'btn btn-danger' %>
          <%= link_to '註冊新使用者', new_user_path(corporation_id: corp.id), class: 'btn btn-outline-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr> 

<h4>使用者註冊資料</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>名稱</th>
      <th>單位</th>
      <th>角色</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.corporation&.name %></td>
        <td><%= user.ch_role %></td>

        <td>
          <%= link_to '編輯', edit_user_path(user), class: 'btn btn-info' %>
          <%= link_to '刪除', user, method: :delete, data: { confirm: '確定刪除?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr> 

<%= link_to 'Back', root_path %>
