<h1>帳號權限查詢</h1>

<%= form_with(url: query_users_url, method: :get, local: true) do |form| %>
  <%= form.select :role, [['全部', :all]].concat(role_options) %>
  <%= form.submit '查詢' %>
<% end %>
<p></p>
<%= render partial: 'shared/jtable_print_and_csv_export_links' %>

<table id="jTable" class="table">
  <thead class="thead-dark">
    <tr>
      <th>名稱</th>
      <th>單位</th>
      <th>角色</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.corporation&.name %></td>
        <td><%= user.ch_role %></td>

        <td>
          <%= link_to '編輯', edit_user_path(user), class: 'btn btn-info' %>
          <%= link_to '刪除', user, method: :delete, data: { confirm: '確定刪除?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr> 

<%= link_to 'Back', root_path %>

<%= render partial: 'shared/jtable_and_csv_export_js' %>
