
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @user.corporation.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.ch_role %>
</p>

<%= link_to '編輯', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
