﻿<% content_for :title do %>
  MU設備維護檢測紀錄表
<% end  %>
<%= form_with(model: @inspection_history, id: 'inspection-form', local:true) do |form|  %>
  <table border="0" cellpadding="0"  class="table11_7" style="border-collapse:collapse;" width="998">
    <%= render partial: 'inspection_form_header', locals: { title: 'MU設備維護檢測紀錄表', form: form } %>
    <tr >
      <td style="text-align: center">
        項目</td>
      <td width="123" style="text-align: center" >
        內容</td>
      <td width="239" style="text-align: center">
        判定基準</td>
      <td width="91" style="text-align: center" >
        檢查方法</td>
      <td colspan="2" style="text-align: center" >
        檢測數值及狀態說明</td>
      <td width="208" style="text-align: center" >
        檢查結果</td>
    </tr>
    <tr >
      <td rowspan="6" style="text-align: center" >
        1</td>
      <td rowspan="4" width="123" >
        檢測設備檢查</td>
      <td rowspan="4" width="239" >
        光模組檢測設備：<br>
        經TAF實驗室或國家認證實驗室校正，校正日期為1年內合格報告。</td>
      <td rowspan="4" width="91" style="text-align: center" >
        目視</td>
      <td width="191" >
        廠牌：</td>
      <td width="192" >
        <%= form.text_field :A_1_1_1, size: 20 %>
      </td>
      <td rowspan="4" width="208" >
        <%= form.radio_button :A_1_5_1, '合格' %>合格<br>
        <%= form.radio_button :A_1_5_1, '不合格' %>不合格<p>判定原因：<br>
        <%= form.text_field :A_1_5_2, size: 20 %>
      </td>
    </tr>
    <tr >
      <td width="191">
        型號：
      </td>
      <td width="192">
        <%= form.text_field :A_1_2_1, size: 20 %>
      </td>
    </tr>
    <tr >
      <td width="191">
        校正日期：</td>
      <td width="192">
        <%= form.text_field :A_1_3_1, size: 20 %>
      </td>
    </tr>
    <tr >
      <td width="191">
        報告編號：</td>
      <td width="192">
        <%= form.text_field :A_1_4_1, size: 20 %>
      </tr>
      <%= render partial: 'images', 
        locals: { title: '維護相片',
                  form: form,
                  inspection_history: @inspection_history,
                  column1: :P_1_1,
                  column2: :P_1_2 
      } %>    
    <tr >
      <td rowspan="6" style="text-align: center" >
        2</td>
      <td rowspan="4" width="123" >
        檢測設備檢查</td>
      <td rowspan="4" width="239" >
        光纖檢測設備：<br>
        經TAF實驗室或國家認證實驗室校正，校正日期為1年內合格報告。</td>
      <td rowspan="4" width="91" style="text-align: center" >
        目視</td>
      <td width="191" >
        廠牌：</td>
      <td width="192" >
        <%= form.text_field :A_2_1_1, size: 20 %>
      </td>
      <td rowspan="4" width="208" >
        <%= form.radio_button :A_2_5_1, '合格' %>合格<br>
        <%= form.radio_button :A_2_5_1, '不合格' %>不合格<p>判定原因：<br>
        <%= form.text_field :A_2_5_2, size: 20 %>
      </td>
    </tr>
    <tr >
      <td width="191">
        型號：</td>
      <td width="192">
        <%= form.text_field :A_2_2_1, size: 20 %>
      </td>
    </tr>
    <tr >
      <td width="191">
        校正日期：</td>
      <td width="192">
        <%= form.text_field :A_2_3_1, size: 20 %>
      </td>
    </tr>
    <tr >
      <td width="191">
        報告編號：</td>
      <td width="192">
        <%= form.text_field :A_2_4_1, size: 20 %>
      </td>
    </tr>

    <%= render partial: 'images', 
      locals: { title: '維護相片',
                form: form,
                inspection_history: @inspection_history,
                column1: :P_2_1,
                column2: :P_2_2 
    } %>    

  <tr >
    <td rowspan="6" >
      <p style="text-align: center">3</td>
    <td rowspan="4" width="123" >
      檢測設備檢查</td>
    <td rowspan="4" width="239" >
      接地電阻檢測設備：<br>
      經TAF實驗室或國家認證實驗室校正，校正日期為1年內合格報告。</td>
    <td rowspan="4" width="91" style="text-align: center" >
      目視</td>
    <td width="191" >
      廠牌：</td>
    <td width="192" >
      <%= form.text_field :A_3_1_1, size: 20 %></td>
    <td rowspan="4" width="208" >
      <%= form.radio_button :A_3_5_1, '合格' %>合格<br>
      <%= form.radio_button :A_3_5_1, '不合格' %>不合格<p>判定原因：<br>
      <%= form.text_field :A_3_5_2, size: 20 %>
    </td>
  </tr>
  <tr >
    <td width="191">
      型號：</td>
    <td width="192">
      <%= form.text_field :A_3_2_1, size: 20 %>
    </td>
  </tr>
  <tr >
    <td width="191">
      校正日期：</td>
    <td width="192">
      <%= form.text_field :A_3_3_1, size: 20 %>
    </td>
  </tr>
  <tr >
    <td width="191">
      報告編號：</td>
    <td width="192">
      <%= form.text_field :A_3_4_1, size: 20 %>
    </td>
  </tr>

  <%= render partial: 'images', 
    locals: { title: '維護相片',
              form: form,
              inspection_history: @inspection_history,
              column1: :P_3_1,
              column2: :P_3_2 
  } %>    
<tr >
  <td rowspan="6" style="text-align: center" >
    4</td>
  <td rowspan="4" width="123" >
    檢測設備檢查</td>
  <td rowspan="4" width="239" >
    三用電表檢測設備：<br>
    經TAF實驗室或國家認證實驗室校正，校正日期為1年內合格報告。</td>
  <td rowspan="4" width="91" style="text-align: center" >
    目視</td>
  <td width="191" >
    廠牌：</td>
  <td width="192" >
    <%= form.text_field :A_4_1_1, size: 20 %>
  </td>
  <td rowspan="4" width="208" >
    <%= form.radio_button :A_4_5_1, '合格' %>合格<br>
    <%= form.radio_button :A_4_5_1, '不合格' %>不合格<p>判定原因：<br>
    <%= form.text_field :A_4_5_2, size: 20 %>
  </td>
</tr>
<tr >
  <td width="191">
    型號：
  </td>
  <td width="192">
    <%= form.text_field :A_4_2_1, size: 20 %>
  </td>
</tr>
<tr >
  <td width="191">
    校正日期：</td>
  <td width="192">
    <%= form.text_field :A_4_3_1, size: 20 %>
  </td>
</tr>
<tr >
  <td width="191">
    報告編號：</td>
  <td width="192">
    <%= form.text_field :A_4_4_1, size: 20 %>
  </td>
</tr>

<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_4_1,
            column2: :P_4_2 
} %>    
    <tr >
      <td rowspan="12" style="text-align: center">
        5</td>
      <td rowspan="10" width="123" >
        外觀檢查及清理</td>
      <td rowspan="10" width="239" >
        通訊(MU)設備箱體/箱體外觀、固定點鬆脫、同軸纜線、光纖端口狀態</td>
      <td rowspan="10" width="91" style="text-align: center" >
        目視</td>
      <td colspan="2" >
        箱體外部</td>
      <td rowspan="10" width="208" >
        <%= form.radio_button :A_5_6_1, '合格' %>合格<br>
        <%= form.radio_button :A_5_6_1, '不合格' %>不合格<p>判定原因：<br>
        <%= form.text_field :A_5_6_2, size: 20 %>
      </td>
    </tr>
    <tr >
      <td colspan="2" width="393" >
        <%= form.radio_button :A_5_1_1, '已清潔' %>已清潔<br>
        <%= form.radio_button :A_5_1_1, '受損' %>受損
      </td>
    </tr>
    <tr >
      <td colspan="2">
        箱體固定
      </td>
    </tr>
    <tr >
      <td colspan="2" width="393" >
        <%= form.radio_button :A_5_2_1, '緊固' %>緊固<br>
        <%= form.radio_button :A_5_2_1, '鬆動' %>鬆動
      </td>
    </tr>
    <tr >
      <td colspan="2">
        避雷保護器</td>
    </tr>
    <tr >
      <td colspan="2" width="393" >
        <%= form.radio_button :A_5_3_1, '緊固' %>緊固<br>
        <%= form.radio_button :A_5_3_1, '鬆動' %>鬆動
      </td>
    </tr>
    <tr >
      <td colspan="2">
        同軸纜線：</td>
    </tr>
    <tr  >
      <td colspan="2"  width="393" >
        <%= form.radio_button :A_5_4_1, '彎折或破損' %>彎折或破損<br>
        <%= form.radio_button :A_5_4_1, '無彎折或破損' %>無彎折或破損
      </td>
    </tr>
    <tr >
      <td colspan="2">
        光纖端口狀態：</td>
    </tr>
    <tr >
      <td colspan="2"  width="393" >
        <%= form.radio_button :A_5_5_1, '無介接' %>無介接<br>
        <%= form.radio_button :A_5_5_1, '新增介接' %>新增介接，介接設備：<%= form.text_field :A_5_5_2, size: 19 %>
      </td>
    </tr>

    <%= render partial: 'images', 
      locals: { title: '維護相片',
                form: form,
                inspection_history: @inspection_history,
                column1: :P_5_1,
                column2: :P_5_2 
    } %>    
  <tr >
    <td rowspan="8" style="text-align: center"  >
      6</td>
    <td rowspan="6" width="123" >
      外觀檢查及清理</td>
    <td rowspan="6" width="239" >
      光纖收容箱體/箱體外觀、固定點鬆脫、光纖端口狀態</td>
    <td rowspan="6" width="91" style="text-align: center" >目視</td>
    <td colspan="2" >
      箱體外部</td>
    <td rowspan="6" width="208" >
      <%= form.radio_button :A_6_4_1, '合格' %>合格<br>
      <%= form.radio_button :A_6_4_1, '不合格' %>不合格<p>判定原因：<br>
      <%= form.text_field :A_6_4_2, size: 20 %>
    </td>
  </tr>
  <tr  style="height: 33.0pt">
    <td colspan="2"  width="393" >
      <%= form.radio_button :A_6_1_1, '已清潔' %>已清潔<br>
      <%= form.radio_button :A_6_1_1, '受損' %>受損
    </td>
  </tr>
  <tr >
    <td colspan="2">
      箱體固定</td>
  </tr>
  <tr  style="height: 32.4pt">
    <td colspan="2"  width="393" >
      <%= form.radio_button :A_6_2_1, '緊固' %>緊固<br>
      <%= form.radio_button :A_6_2_1, '鬆動' %>鬆動
    </td>
  </tr>
  <tr >
    <td colspan="2">
      光纖端口狀態：</td>
  </tr>
  <tr  style="height: 33.0pt">
    <td colspan="2"  width="393" >
      <%= form.radio_button :A_6_3_1, '無介接' %>無介接<br>
      <%= form.radio_button :A_6_3_1, '新增介接' %>新增介接，介接設備：<%= form.text_field :A_5_5_2, size: 19 %>
    </td>
  </tr>

  <%= render partial: 'images', 
    locals: { title: '維護相片',
              form: form,
              inspection_history: @inspection_history,
              column1: :P_6_1,
              column2: :P_6_2 
  } %>    
<tr >
  <td rowspan="3" style="text-align: center">
    7.1</td>
  <td width="123" >
    動力系統檢查</td>
  <td width="239" >
    系統接地： &lt;20Ω</td>
  <td width="91" style="text-align: center" >
    地阻計量測</td>
  <td width="191" >
    <%= form.text_field :A_71_1_1, size: 20 %></td>
  <td width="192" >
    單位：Ω</td>
  <td width="208" >
    <%= form.radio_button :A_71_2_1, '正常' %>正常<br>
    <%= form.radio_button :A_71_2_1, '不正常' %>不正常</td>
</tr>
<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_71_1,
            column2: :P_71_2 
} %>        <tr >
  <td rowspan="3" style="text-align: center">
    7.2</td>
  <td width="123" >
    動力系統檢查</td>
  <td width="239" >
    設備接地：&lt;20Ω</td>
  <td width="91" style="text-align: center" >
    地阻計量測</td>
  <td width="191" >
    <%= form.text_field :A_72_1_1, size: 20 %></td>
  <td width="192" >
    單位：Ω</td>
  <td width="208" >
    <%= form.radio_button :A_72_2_1, '正常' %>正常<br>
    <%= form.radio_button :A_72_2_1, '不正常' %>不正常</td>
</tr>

<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_72_1,
            column2: :P_72_2 
} %>    
    <tr >
      <td rowspan="4" style="text-align: center" >
        7.3</td>
      <td rowspan="2" width="123" >
        動力系統檢查</td>
      <td rowspan="2" width="239" >
        配電盤-AC電源：<br>
        (1)供電電壓：<br>
        (2)負載電流</td>
      <td rowspan="2" width="91" style="text-align: center" >
        電錶量測</td>
      <td width="191" >
        （1）Vac供電電壓（V）：</td>
      <td width="192" >
        <%= form.text_field :A_73_1_1, size: 20 %></td>
      <td rowspan="2" width="208" >
        <%= form.radio_button :A_73_3_1, '正常' %>正常<br>
        <%= form.radio_button :A_73_3_1, '不正常' %>不正常</td>
    </tr>
    <tr  style="height: 33.0pt">
      <td width="191"  >
        （2）負載電流（A）：</td>
      <td width="192" >
        <%= form.text_field :A_73_2_1, size: 20 %></td>
    </tr>

    <%= render partial: 'images', 
      locals: { title: '維護相片',
                form: form,
                inspection_history: @inspection_history,
                column1: :P_73_1,
                column2: :P_73_2 
    } %>    
  <tr >
    <td rowspan="4" style="text-align: center" >
      7.4</td>
    <td rowspan="2" width="123" >
      動力系統檢查</td>
    <td rowspan="2" width="239" >
      配電盤-DC電源：<br>
      (1)供電電壓：Vdc=28V±1.4V<br>
      (2)負載電流：</td>
    <td rowspan="2" width="91" style="text-align: center" >
      電錶量測</td>
    <td width="191" >
      （1）Vdc供電電壓（V）：</td>
    <td width="192" >
      <%= form.text_field :A_74_1_1, size: 20 %></td>
    <td rowspan="2" width="208" >
      <%= form.radio_button :A_74_3_1, '正常' %>正常<br>
      <%= form.radio_button :A_74_3_1, '不正常' %>不正常</td>
  </tr>
  <tr  style="height: 33.6pt">
    <td width="191"  >
      （2）負載電流（A）：</td>
    <td width="192" >
      <%= form.text_field :A_74_2_1, size: 20 %></td>
  </tr>


  <%= render partial: 'images', 
    locals: { title: '維護相片',
              form: form,
              inspection_history: @inspection_history,
              column1: :P_74_1,
              column2: :P_74_2 
  } %>    
<tr >
  <td rowspan="3" style="text-align: center">
    7.5</td>
  <td width="123" >
    動力系統檢查</td>
  <td width="239" >
    突波保護器：</td>
  <td width="91" style="text-align: center" >
    電錶量測</td>
  <td colspan="2" >
    <%= form.text_field :A_75_1_1, size: 20 %></td>
  <td width="208" >
    <%= form.radio_button :A_75_2_1, '正常' %>正常<br>
    <%= form.radio_button :A_75_2_1, '不正常' %>不正常</td>
</tr>

<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_75_1,
            column2: :P_75_2 
} %>    
    <tr >
      <td rowspan="3" style="text-align: center">
        7.6</td>
      <td width="123" >
        動力系統檢查</td>
      <td width="239" >
        避雷保護器</td>
      <td width="91" style="text-align: center" >
        電錶量測</td>
      <td colspan="2" >
        <%= form.text_field :A_76_1_1, size: 20 %></td>
      <td width="208" >
        <%= form.radio_button :A_76_2_1, '正常' %>正常<br>
        <%= form.radio_button :A_76_2_1, '不正常' %>不正常</td>
    </tr>

    <%= render partial: 'images', 
      locals: { title: '維護相片',
                form: form,
                inspection_history: @inspection_history,
                column1: :P_76_1,
                column2: :P_76_2 
    } %>    
  <tr >
    <td rowspan="3" style="text-align: center">
      8</td>
    <td width="123" >
      參數檢核</td>
    <td width="239" >
      MU參數設定值</td>
    <td width="91" style="text-align: center" >
      手動檢查</td>
    <td colspan="2" >
      <%= form.text_field :A_8_1_1, size: 20 %></td>
    <td width="208" >
      <%= form.radio_button :A_8_2_1, '正常' %>正常<br>
      <%= form.radio_button :A_8_2_1, '不正常' %>不正常</td>
  </tr>

  <%= render partial: 'images', 
    locals: { title: '維護相片',
              form: form,
              inspection_history: @inspection_history,
              column1: :P_8_1,
              column2: :P_8_2 
  } %>    
<tr  style="height:32.4pt">
  <td rowspan="3" style="text-align: center"  >
    9</td>
  <td width="123" >
    功能性檢查</td>
  <td width="239" >
    面板功能性測試：檢測MU通訊設備面板控制鍵動作是否正常</td>
  <td width="91" >
    <p style="text-align: center">手動檢查</td>
  <td colspan="2" >
    <%= form.text_field :A_9_1_1, size: 20 %></td>
  <td width="208" >
    <%= form.radio_button :A_9_2_1, '正常' %>正常<br>
    <%= form.radio_button :A_9_2_1, '不正常' %>不正常</td>
</tr>

<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_9_1,
            column2: :P_9_2 
} %>    
    <tr>
      <td rowspan="3" style="text-align: center" >
        10</td>
      <td width="123" >
        功能性檢查</td>
      <td width="239" >
        UTP連接端口功能檢核/透過VM安全防護-無線通訊主機，檢核MU設備網路狀態</td>
      <td width="91" >
        <p style="text-align: center">NB</td>
      <td colspan="2" >
        <%= form.text_field :A_10_1_1, size: 20 %></td>
      <td width="208" >
        <%= form.radio_button :A_10_2_1, '正常' %>正常<br>
        <%= form.radio_button :A_10_2_1, '不正常' %>不正常</td>
    </tr>

    <%= render partial: 'images', 
      locals: { title: '維護相片',
                form: form,
                inspection_history: @inspection_history,
                column1: :P_10_1,
                column2: :P_10_2 
    } %>    
  <tr >
    <td rowspan="6" style="text-align: center" >
      11</td>
    <td rowspan="4" width="123" >
      功能性檢查</td>
    <td rowspan="4" width="239" >
      <br>
      光模組檢測：量測MU通訊設備各端口光模組(FC接頭)輸出數值：FC： +1~-10dBm<br>
      　</td>
    <td rowspan="4" width="91" >
      <p style="text-align: center">光功率計</td>
    <td width="191" >
      FC1（單位dbm）：</td>
    <td width="192" >
      <%= form.text_field :A_11_1_1, size: 20 %></td>
    <td rowspan="4" width="208" >
      <%= form.radio_button :A_11_5_1, '正常' %>正常<br>
      <%= form.radio_button :A_11_5_1, '不正常' %>不正常</td>
  </tr>
  <tr >
    <td width="191">
      FC2（單位dbm）：</td>
    <td width="192" >
      <%= form.text_field :A_11_2_1, size: 20 %></td>
  </tr>
  <tr >
    <td width="191">
      FC3（單位dbm）：</td>
    <td width="192" >
      <%= form.text_field :A_11_3_1, size: 20 %></td>
  </tr>
  <tr >
    <td width="191">
      FC4（單位dbm）：</td>
    <td width="192" >
      <%= form.text_field :A_11_4_1, size: 20 %></td>
  </tr>
  <%= render partial: 'images', 
    locals: { title: '維護相片',
              form: form,
              inspection_history: @inspection_history,
              column1: :P_11_1,
              column2: :P_11_2 
  } %>        <tr  style="height: 16.2pt">
    <td rowspan="3" style="text-align: center">
      12</td>
    <td width="123" >
      功能性檢查</td>
    <td width="239" >
      量測MU通訊設備與RU通訊設備光路由輸出功率</td>
    <td width="91" >
      <p style="text-align: center">光功率計</td>
    <td width="191" >
      單位dbm：</td>
    <td width="192" >
      <%= form.text_field :A_12_1_1, size: 20 %></td>
    <td width="208" >
      <%= form.radio_button :A_12_2_1, '正常' %>正常<br>
      <%= form.radio_button :A_12_2_1, '不正常' %>不正常</td>
  </tr>
  <%= render partial: 'images', 
    locals: { title: '維護相片',
              form: form,
              inspection_history: @inspection_history,
              column1: :P_12_1,
              column2: :P_12_2 
  } %>        <tr >
    <td rowspan="6" style="text-align: center" >
      13</td>
    <td rowspan="4" width="123" >
      功能性檢查</td>
    <td rowspan="4" width="239" >
      <br>
      光模組檢測：量測MU通訊設備各端口光模組(FC接頭)輸出數值：FC： +1~-10dBm<br>
      　</td>
    <td rowspan="4" width="91" >
      <p style="text-align: center">光功率計</td>
    <td width="191" >
      <%= form.check_box :A_13_1_1, {} %>700MHz（單位db）</td>
    <td width="192" >
      <%= form.text_field :A_13_1_2, size: 20 %></td>
    <td rowspan="4" width="208" >
      <%= form.radio_button :A_13_5_1, '正常' %>正常<br>
      <%= form.radio_button :A_13_5_2, '不正常' %>不正常</td>
  </tr>
  <tr >
    <td width="191">
      <%= form.check_box :A_13_2_1, {} %>900MHz（單位db）</td>
    <td width="192" >
      <%= form.text_field :A_13_2_2, size: 20 %></td>
  </tr>
  <tr >
    <td width="191">
      <%= form.check_box :A_13_3_1, {} %>1800MHz（單位db）</td>
    <td width="192" >
      <%= form.text_field :A_13_3_2, size: 20 %></td>
  </tr>
  <tr >
    <td width="191">
      <%= form.check_box :A_13_4_1, {} %>2100MHz（單位db）</td>
    <td width="192" >
      <%= form.text_field :A_13_4_2, size: 20 %></td>
  </tr>
  <%= render partial: 'images', 
    locals: { title: '維護相片',
              form: form,
              inspection_history: @inspection_history,
              column1: :P_13_1,
              column2: :P_13_2 
  } %>    
  <%= render partial: 'inspection_form_footer', locals: { form: form } %>
<% end %>
