﻿<% content_for :title do %>
  不斷電系統維護檢測紀錄表
<% end %>

<%= form_with(model: @inspection_history, id: 'inspection-form', local:true) do |form|  %>
<table border="0" cellpadding="0"  class="table11_7" style="border-collapse:collapse;" width="998">

  <%= render partial: 'inspection_form_header', locals: { title: '不斷電系統維護檢測紀錄表', form: form } %>
  <tr  class="table-warning">
    <td  align="center" width="41" style="text-align: center" >
      項目</td>
    <td align="center" width="175" style="text-align: center" >
      內容</td>
    <td align="center" width="173" style="text-align: center" >
      判定基準</td>
    <td align="center" style="text-align: center" width="62" >
      檢查方法</td>
    <td colspan="2" align="center" style="text-align: center" >
      檢測數值及狀態說明</td>
    <td align="center" width="188" style="text-align: center" >
      檢查結果</td>
  </tr>
  <tr  >
    <td rowspan="10"  align="center" width="41" >
      1</td>
    <td rowspan="8" width="175" >
      檢測設備檢查</td>
    <td rowspan="4" width="173" style="margin-left: 1em" >
      接地電阻檢測設備:<br>
      經TAF實驗室或國家認證實驗室校正，校正日期為1年內合格報告。</td>
    <td rowspan="8" width="62" >
      <p style="text-align: center">目視</td>
    <td width="199" >
      廠牌:</td>
    <td width="148" >
      <%= form.text_field :A_1_1_1, size: 20 %>
    </td>
    <td rowspan="4" width="188" >
      <%= form.radio_button :A_1_3_1, '合格' %>合格<br>
      <%= form.radio_button :A_1_3_1, '不合格' %>不合格<p>判定原因：<br>
      <%= form.text_field :A_1_3_2, size: 20 %></td>
  </tr>
  <tr  >
    <td  width="199" >
      型號:</td>
    <td width="148" >
      <%= form.text_field :A_1_1_2, size: 20 %>

    </tr>
    <tr  >
      <td  width="199" >
        校正日期:</td>
      <td width="148" >
        <%= form.text_field :A_1_1_3, size: 20 %>
      </td>
    </tr>
    <tr  >
      <td  width="199" >
        報告編號:</td>
      <td width="148" >
        <%= form.text_field :A_1_1_4, size: 20 %>
      </td>
    </tr>
    <tr  >
      <td rowspan="4"  width="173" >
        三用電表檢測設備:<br>
        經TAF實驗室或國家認證實驗室校正，校正日期為1年內合格報告。</td>
      <td width="199" >
        廠牌:</td>
      <td width="148" >
        <%= form.text_field :A_1_2_1, size: 20 %></td>
      <td rowspan="4" width="188" >
        <%= form.radio_button :A_1_4_1, '合格' %>合格<br>
        <%= form.radio_button :A_1_4_1, '不合格' %>不合格<p>判定原因：<br>
        <%= form.text_field :A_1_4_2, size: 20 %></td>
    </tr>
    <tr  >
      <td  width="199" >
        型號:</td>
      <td  width="207" >
        <%= form.text_field :A_1_2_2, size: 20 %></td>
    </tr>
    <tr  >
      <td  width="199" >
        校正日期:</td>
      <td  width="207" >
        <%= form.text_field :A_1_2_3, size: 20 %></td>
    </tr>
    <tr  >
      <td  width="199" >
        報告編號:</td>
      <td  width="207" >
        <%= form.text_field :A_1_2_4, size: 20 %></td>
    </tr>

<%= render partial: 'images', 
  locals: { title: '施工相片（上傳2張）',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_1_1,
            column2: :P_1_2 
} %>    
    <tr  style="height: 33.0pt">
      <td rowspan="3"  align="center" width="41" >
        2</td>
      <td width="175" >
        外觀檢查</td>
      <td width="173" >
        不斷電系統/箱體有無受損、異物附著、固定點緊固</td>
      <td style="text-align: center" width="62" >
        目視</td>
      <td width="199" >
        箱體檢查</td>
      <td width="148" >
        <%= form.radio_button :A_2_1_1, '合格' %>合格<br>
        <%= form.radio_button :A_2_1_1, '不合格' %>不合格</td>
      <td width="122" >
        <%= form.radio_button :A_2_2_1, '合格' %>合格<br>
        <%= form.radio_button :A_2_2_1, '不合格' %>不合格<p>判定原因：<%= form.text_field :A_2_2_2, size: 20 %></td>
    </tr>

<%= render partial: 'images', 
  locals: { title: '施工相片（上傳2張）',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_2_1,
            column2: :P_2_2 
} %>    
    <tr style="height:32.4pt">
      <td rowspan="6"  align="center" width="41" >
        3</td>
      <td rowspan="4" width="175" >
        系統動力檢查</td>
      <td width="173" >
        充電電壓（Vac）:</td>
      <td rowspan="4" style="text-align: center" width="62" >
        電表量測<br>
        　</td>
      <td width="199" >
        充電電壓（Vac，單位V）:</td>
      <td width="148" >
        <%= form.text_field :A_3_1_1, size: 20 %></td>
      <td width="122" >
        <%= form.radio_button :A_3_5_1, '合格' %>合格<br>
        <%= form.radio_button :A_3_5_1, '不合格' %>不合格<p>判定原因：<%= form.text_field :A_3_5_2, size: 20 %></td>
    </tr>
    <tr >
      <td  width="173" >
        充電電流＜10（A）</td>
      <td width="199" >
        充電電流（單位A）:</td>
      <td width="148" >
        <%= form.text_field :A_3_2_1, size: 20 %></td>
      <td width="122" >
        <%= form.radio_button :A_3_6_1, '合格' %>合格<br>
        <%= form.radio_button :A_3_6_1, '不合格' %>不合格<p>判定原因：<%= form.text_field :A_3_6_2, size: 20 %></td>
    </tr>
    <tr >
      <td width="173" >
        放電電壓（Vdc）:52.65~55.25</td>
      <td width="199" >
        放電電壓（Vdc，單位V）:</td>
      <td width="148" >
        <%= form.text_field :A_3_3_1, size: 20 %></td>
      <td width="122" >
        <%= form.radio_button :A_3_7_1, '合格' %>合格<br>
        <%= form.radio_button :A_3_7_1, '不合格' %>不合格<p>判定原因：<%= form.text_field :A_3_7_2, size: 20 %></td>
    </tr>
    <tr >
      <td width="173" >
        充電電流＜10（A）</td>
      <td width="199" >
        充電電流（單位A）:</td>
      <td width="148" >
        <%= form.text_field :A_3_4_1, size: 20 %></td>
      <td width="122" >
        <%= form.radio_button :A_3_8_1, '合格' %>合格<br>
        <%= form.radio_button :A_3_8_1, '不合格' %>不合格<p>判定原因：<%= form.text_field :A_3_8_2, size: 20 %></td>
    </tr>

<%= render partial: 'images', 
  locals: { title: '施工相片（上傳2張）',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_3_1,
            column2: :P_3_2 
} %>    

  <%= render partial: 'inspection_form_footer', locals: { form: form } %>
<% end %>
