<% content_for :title do %>
  終端假負載維運紀錄
<% end %>
<%= form_with(model: @inspection_history, id: 'inspection-form', local:true) do |form|  %>
<table border="0" cellpadding="0"  class="table11_7" style="border-collapse:collapse;" width="998">
  <%= render partial: 'inspection_form_header', locals: { title: '終端假負載維運紀錄', form: form } %>
    <tr >
      <td style="text-align: center">
        項目</td>
      <td width="123" style="text-align: center" >
        內容</td>
      <td width="177" style="text-align: center">
        判定基準</td>
      <td width="98" style="text-align: center" >
        檢查方法</td>
      <td colspan="2" style="text-align: center" >
        檢測數值及狀態說明</td>
      <td width="208" style="text-align: center" >
        檢查結果</td>
    </tr>
    <tr >
      <td rowspan="6" style="text-align: center" >
        1</td>
      <td rowspan="4" width="123" >
        檢測設備檢查</td>
      <td rowspan="4" width="177" >
        RF模組檢測設備:<br>
        經TAF實驗室或國家認證實驗室校正，校正日期為1年內合格報告。</td>
      <td rowspan="4" width="98" style="text-align: center" >
        目視</td>
      <td width="158" >
        廠牌：</td>
      <td width="250" >
        <%= form.text_field :A_1_1_1, size: 20 %></td>
      <td rowspan="4" width="208" >
        <%= form.radio_button :A_1_5_1, '合格' %>合格<br>
        <%= form.radio_button :A_1_5_1, '不合格' %>不合格<p>判定原因：<br>
        <%= form.text_field :A_1_5_2, size: 20 %></td>
    </tr>
    <tr >
      <td width="158">
        型號：</td>
      <td width="250">
        <%= form.text_field :A_1_2_1, size: 20 %></td>
    </tr>
    <tr >
      <td width="158">
        校正日期：</td>
      <td width="250">
        <%= form.text_field :A_1_3_1, size: 20 %></td>
    </tr>
    <tr >
      <td width="158">
        報告編號：</td>
      <td width="250">
        <%= form.text_field :A_1_4_1, size: 20 %></td>
    </tr>

<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_1_1,
            column2: :P_1_2 
} %>    
    <tr >
      <td rowspan="4" style="text-align: center">
        2</td>
      <td width="123" rowspan="2" >
        外觀檢查及清理</td>
      <td width="177" >
        洩波纜線/有無破損、發霉、固定點鬆脫</td>
      <td rowspan="2" width="98" style="text-align: center" >
        目視及清理及調整</td>
      <td colspan="2">
        洩波纜線：<br>
        <%= form.radio_button :A_2_1_1, '無破損、發霉、固定點緊固' %>無破損、發霉、固定點緊固<br>
        <%= form.radio_button :A_2_1_1, '受損、發霉、固定點鬆脫' %>受損、發霉、固定點鬆脫</td>
      <td rowspan="2" width="208" >
        <%= form.radio_button :A_2_3_1, '合格' %>合格<br>
        <%= form.radio_button :A_2_3_1, '不合格' %>不合格<p>判定原因：<br>
        <%= form.text_field :A_2_3_2, size: 20 %></td>
    </tr>
    <tr >
      <td width="177" >
        終端假負載/有生鏽、異物附著、接點鬆動</td>
      <td colspan="2" >
        終端假負載:<br>
        <%= form.radio_button :A_2_2_1, '無生鏽、無異物附著、固定點緊固' %>無生鏽、無異物附著、固定點緊固<br>
        <%= form.radio_button :A_2_2_1, '生鏽、異物附著、固定點鬆脫' %>生鏽、異物附著、固定點鬆脫</td>
    </tr>
<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_2_1,
            column2: :P_2_2 
} %>        <tr >
      <td rowspan="7" style="text-align: center" >
        3</td>
      <td rowspan="5" width="123" >
        功能性檢查</td>
      <td width="177" >
        無線通訊頻段及信號強度</td>
      <td rowspan="5" width="98" >
        <p style="text-align: center">頻譜分析儀+RF天線</td>
      <td width="158" >
        　</td>
      <td width="250" >
        　</td>
      <td rowspan="5" width="208" >
        <%= form.radio_button :A_3_5_1, '正常' %>正常<br>
        <%= form.radio_button :A_3_5_2, '不正常' %>不正常</td>
    </tr>
    <tr >
      <td width="177" >
        700MHz ，dbm</td>
      <td width="158" >
        <%= form.check_box :A_3_1_1, {} %>700MHz（單位db）</td>
      <td width="250" >
        <%= form.text_field :A_3_1_2, size: 20 %></td>
    </tr>
    <tr >
      <td width="177" >
        900MHz ，dbm</td>
      <td width="158">
        <%= form.check_box :A_3_2_1, {} %>900MHz（單位db）</td>
      <td width="250" >
        <%= form.text_field :A_3_2_2, size: 20 %></td>
    </tr>
    <tr >
      <td width="177" >
        1800MHz，dbm</td>
      <td width="158">
        <%= form.check_box :A_3_3_1, {} %>1800MHz（單位db）</td>
      <td width="250" >
        <%= form.text_field :A_3_3_2, size: 20 %></td>
    </tr>
    <tr >
      <td width="177" >
        2100MHz，dbm</td>
      <td width="158">
        <%= form.check_box :A_3_4_1, {} %>2100MHz（單位db）</td>
      <td width="250" >
        <%= form.text_field :A_3_4_2, size: 20 %></td>
    </tr>
<%= render partial: 'images', 
  locals: { title: '維護相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_3_1,
            column2: :P_3_2 
} %>        <tr >
      <td rowspan="6">
        <p style="text-align: center">4</td>
      <td rowspan="4">
        功能性檢查</td>
      <td width="177" rowspan="4" >中華電信載具<br>
        通話功能<br>
        Speed Test<br>
        簡訊</td>
      <td rowspan="4" width="98" >
        <p style="text-align: center">行動載具+SIM卡</td>
      <td width="158" >
        通話功能: </td>
      <td width="250" >　</td>
      <td width="208" rowspan="4" >
        <%= form.check_box :A_4_3_1, {} %>無此項</td>
    </tr>
    <tr >
      <td width="158" >
        撥通時間（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_4_1_1, size: 20 %></td>
    </tr>
    <tr >
      <td width="158" >
        Speed Test:</td>
      <td width="250" >　</td>
    </tr>
    <tr >
      <td width="158" >
        完成傳輸（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_4_2_1, size: 20 %></td>
    </tr>
<%= render partial: 'images', 
  locals: { title: '檢測相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_4_1,
            column2: :P_4_2 
} %>        
<tr><td rowspan="6">
        <p style="text-align: center">5</td>
      <td rowspan="4">
        功能性檢查</td>
      <td width="177" rowspan="4" >台灣大哥大載具<br>
        通話功能<br>
        Speed Test<br>
        簡訊</td>
      <td rowspan="4" style="text-align: center" width="98" >
        行動載具+SIM卡</td>
      <td width="158" >
        通話功能: </td>
      <td width="250" >　</td>
      <td width="208" rowspan="4" >
        <%= form.check_box :A_5_3_1, {} %>無此項</td>
    </tr>
    <tr >
      <td width="158" >
        撥通時間（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_5_1_1, size: 20 %></td>
    </tr>
    <tr >
      <td width="158" >
        Speed Test:</td>
      <td width="250" >　</td>
    </tr>
    <tr >
      <td width="158" >
        完成傳輸（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_5_2_1, size: 20 %></td>
    </tr>

<%= render partial: 'images', 
  locals: { title: '檢測相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_5_1,
            column2: :P_5_2 
} %>    
    <tr><td rowspan="6">
        <p style="text-align: center">6</td>
      <td rowspan="4">
        功能性檢查</td>
      <td width="177" rowspan="4" >遠傳電信載具<br>
        通話功能<br>
        Speed Test<br>
        簡訊</td>
      <td rowspan="4" style="text-align: center" width="98" >
        行動載具+SIM卡</td>
      <td width="158" >
        通話功能: </td>
      <td width="250" >　</td>
      <td width="208" rowspan="4" >
        <%= form.check_box :A_6_3_1, {} %>無此項</td>
    </tr>
    <tr >
      <td width="158" >
        撥通時間（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_6_1_1, size: 20 %></td>
    </tr>
    <tr >
      <td width="158" >
        Speed Test:</td>
      <td width="250" >　</td>
    </tr>
    <tr >
      <td width="158" >
        完成傳輸（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_6_2_1, size: 20 %></td>
    </tr>

<%= render partial: 'images', 
  locals: { title: '檢測相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_6_1,
            column2: :P_6_2 
} %>    
    <tr><td rowspan="6">
        <p style="text-align: center">7</td>
      <td rowspan="4">
        功能性檢查</td>
      <td width="177" rowspan="4" >台灣之星載具<br>
        通話功能<br>
        Speed Test<br>
        簡訊</td>
      <td rowspan="4" style="text-align: center" width="98" >
        行動載具+SIM卡</td>
      <td width="158" >
        通話功能: </td>
      <td width="250" >　</td>
      <td width="208" rowspan="4" >
        <%= form.check_box :A_7_3_1, {} %>無此項</td>
    </tr>
    <tr >
      <td width="158" >
        撥通時間（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_7_1_1, size: 20 %></td>
    </tr>
    <tr >
      <td width="158" >
        Speed Test:</td>
      <td width="250" >　</td>
    </tr>
    <tr >
      <td width="158" >
        完成傳輸（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_7_2_1, size: 20 %></td>
    </tr>

<%= render partial: 'images', 
  locals: { title: '檢測相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_7_1,
            column2: :P_7_2 
} %>    
    <tr><td rowspan="6">
        <p style="text-align: center">8</td>
      <td rowspan="4">
        功能性檢查</td>
      <td width="177" rowspan="4" >亞太電信載具<br>
        通話功能<br>
        Speed Test<br>
        簡訊</td>
      <td rowspan="4" style="text-align: center" width="98" >
        行動載具+SIM卡</td>
      <td width="158" >
        通話功能: </td>
      <td width="250" >　</td>
      <td width="208" rowspan="4" >
        <%= form.check_box :A_8_3_1, {} %>無此項</td>
    </tr>
    <tr >
      <td width="158" >
        撥通時間（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_8_1_1, size: 20 %></td>
    </tr>
    <tr >
      <td width="158" >
        Speed Test:</td>
      <td width="250" >　</td>
    </tr>
    <tr >
      <td width="158" >
        完成傳輸（sec）：</td>
      <td width="250" >
        <%= form.text_field :A_8_2_1, size: 20 %></td>
    </tr>
<%= render partial: 'images', 
  locals: { title: '檢測相片',
            form: form,
            inspection_history: @inspection_history,
            column1: :P_8_1,
            column2: :P_8_2 
} %>    

  <%= render partial: 'inspection_form_footer', locals: { form: form } %>

<% end %>
