<%= form_with(model: area, local: true) do |form| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
        <% area.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if area.category&.layer1? %>
    <p>
      <strong>工區名稱:</strong>
      <%= @area.name %>
    </p>

    <p>
      <strong>工區代碼:</strong>
      <%= "#{@area.category.code}" %>
    </p>

  <% else %>
    <% if @has_owner || action_name == 'edit' %>
      <div class="field">
        <% name = action_name == 'edit' ? '編輯設施名稱' : '新增設施名稱' %>
        <%= form.label :name, name %>
        <%= form.text_field :name %>
      </div>


      <div class="field">
        <%= form.label :owner_id, '設定隸屬工區' %>
        <%= form.select :owner_id, Area.layer1.map{ |a| [a.name, a.id] } %>
      </div>

      <div class="field">
        <%= form.label :category_id, '定義設施屬性' %>
        <%= form.select :category_id, Area::Category.selectable.map { |c| [c.name, c.id] } %>
      </div>

      <div class="field">
        <% number = action_name == 'edit' ? '編輯設施序號' : '新增設施序號' %>
        <%= form.label :number, '新增設施序號' %>
        <%= form.select :number, 0..9 %>
      </div>
    <% else %>
      <div class="field">
        <%= form.label :name, '工區名稱' %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :english_name, '英文名稱' %>
        <%= form.text_field :english_name %>
      </div>

      <div class="field">
        <%= form.label :code, '工區代碼' %>
        <%= form.text_field :code %>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :map_image, '上傳設施地圖', value: area.cached_map_image_data %>
    <%= form.file_field :map_image %>
    <% if area.map_image %>
      <div>
        <%= link_to '顯示原圖', area.map_image_url, class: 'btn btn-dark ', target: '_blank' %><br>
        <%= image_tag area.map_image_url, width: 500 %>
      </div>
    <% end %>
    <br>
  </div>

  <div class="actions">
    <% btn_name = action_name == 'edit' ? '確認更新' : '確定新增' %>
    <%= form.submit '確定新增' %>
  </div>
<% end %>
