<h1>工區地圖導覽</h1>

<div id="guide-app">
  
  <div id="divDropdown" class="dropdown">
    工區：<select size="1" id="optArea1" v-model="layer1Selected">
      <option v-for="option in layer1Options" :value="option.id">
        {{ option.name }}
      </option>
    </select>

    &emsp;設施安裝位置：<select size="1" id="optArea2" v-model="layer2Selected">
      <option v-for="option in layer2Options" :value="option.id">
        {{ option.name }}
      </option>
    </select>

    <input @click="getAreas" type="button" value="篩選" id="btnSendResult" name="B1">
  </div>

  <p></p>

  <%= render partial: 'shared/jtable_print_and_csv_export_links' %>
  <table id="jTable" class="table">
    <thead class="thead-dark">
      <tr>
        <th>設施安裝位置</th>
        <th>隸屬工區</th>
        <th>功能列</th>
      </tr>
    </thead>

    <tbody>
    <template v-if="targetItems.length > 0">
      <tr v-for="targetItem in targetItems">
        <td>{{ targetItem.name }}</td>
        <td>{{ targetItem.owner }}</td>

        <td v-if="targetItem.map_image_url">
          <a class="btn btn-info" :href="targetItem.map_image_url" onclick="window.open(this.href, '', 'width=800,height=600, location=no,toolbar=no'); return false;">檢視地圖</a>
          <a class="btn btn-dark" :href="qrcodeDownloadUrl(targetItem.map_image_url)">地圖QR Code下載</a>
        </td>
        <td v-else></td>
      </tr>
    </template>
    </tbody>
  </table>
</div>

<script>
var vueApp = true
</script>

<%= render partial: 'shared/jtable_and_csv_export_js' %>

<script>
new Vue({
  el: '#guide-app',
  data: {
    layer1Options: <%= raw json_escape(@layer1_areas.to_json) %>,
    layer2Options: [{ name: '全部', id: 0 }].concat(<%= raw json_escape(@layer2_areas.to_json) %>),
    layer1Selected: <%= @layer1_areas.first.id %>,
    layer2Selected: 0,
    targetItems: []
  },

  watch: {
    layer1Selected: function(newVal) {
      const self = this
      axios.get("<%= areas_path %>" + '?get_options=true&layer1_area_id=' + this.layer1Selected)
        .then(function(res) {
          self.layer2Options = [{ name: '全部', id: 0 }].concat(res.data.layer2)
          self.layer2Selected = 0
        })
    }
  },

  mounted: function() {
    bindExportBtn()
    bindPrintBtn()
  },

  methods: {
    getAreas: function() {
      if (jTable) {
        jTable.destroy()
      }

      const self = this

      axios.get("<%= areas_path %>" + '?get_full_data=true&&layer1_area_id=' + this.layer1Selected + '&layer2_area_id=' + this.layer2Selected)
        .then(function(res) { self.targetItems = res.data })
        .then(function() { self.$nextTick(initDataTable()) })
    },

    qrcodeDownloadUrl: function(targetUrl) {
      return '/qrcode_download?target_url=' + targetUrl
    }
  }
})
</script>
