<h1>工區資訊管理</h1>
<br>
<br>
<h2>
  工區名稱
  <%= link_to '新增工區', new_area_path, class: 'btn btn-primary' %>
</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th> 名稱</th>
      <th colspan="3">功能列</th>
    </tr>
  </thead>

  <tbody>
    <% @layer1_areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= link_to '內容', area, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '編輯', edit_area_path(area), class: 'btn btn-info' %></td>
        <td><%= link_to '刪除', area, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<h2>
  設備安裝位置
  <%= link_to '新增安裝位置', new_area_path(has_owner: true), class: 'btn btn-primary' %>
</h2>
<p></p>
<%= render partial: 'shared/jtable_print_and_csv_export_links' %>

<table id="jTable" class="table">
  <thead class="thead-dark">
    <tr>
      <th>安裝位置</th>
      <th>隸屬工區</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @other_areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= area.owner&.name %></td>
        <td><%= link_to '內容', area, class: 'btn btn-outline-dark' %>
        <%= link_to '編輯', edit_area_path(area), class: 'btn btn-info' %>
        <%= link_to '刪除', area, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= render partial: 'shared/jtable_and_csv_export_js' %>
