<% if @area.layer1? %>
  <p>
    <strong>工區名稱:</strong>
    <%= "#{@area.name}(#{@area.category&.english_name})" %>
  </p>

  <p>
    <strong>工區代碼:</strong>
    <%= @area.category.code %>
  </p>

  <p>
    <strong>地圖:</strong>
    <% if @area.map_image %>
      <%= image_tag @area.map_image_url, width: 500 %>
    <% end %>
  </p>
<% else %>
  <p>
    <strong>設施名稱:</strong>
    <%= @area.name %>
  </p>

  <p>
    <strong>設施類型:</strong>
    <%= "#{@area.category.name}(#{@area.category.code})" %>
  </p>

  <p>
    <strong>設施編號:</strong>
    <%= "#{@area.number}" %>
  </p>

  <p>
    <strong>隸屬工區:</strong>
    <%= @area.owner&.name %>
  </p>

  <p>
    <strong>地圖:</strong>
    <% if @area.map_image %>
      <%= image_tag @area.map_image_url, width: 500 %>
    <% end %>
  </p>
<% end %>
<%= link_to '編輯', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
