<%= form_with(model: equipment_item, local: true) do |form| %>
  <% if equipment_item.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% equipment_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meta_datum_id, '廠牌名稱' %>
    <%= form.hidden_field :meta_datum_id, value: equipment_item.meta_datum.id, 'v-model': 'meta_datum_id' %>
    <%= equipment_item.meta_datum.company %>
  </div>

  <div class="field">
    <%= form.label :meta_datum_id, '設備型號' %>
    <%= equipment_item.meta_datum.equ_model %>
  </div>

  <div class="field" id="area-app">
    <%= form.label :area_id, '選擇安裝位置' %>

    <select size="1" id="optArea1" v-model="layer1Selected">
      <option v-for="option in layer1Options" :value="option.id">
        {{ option.name }}
      </option>
    </select>
    <select name="equipment_item[area_id]" id="equipment_item_area_id" v-model="layer2Selected">
      <option v-for="option in layer2Options" :value="option.id">
        {{option.name}}
      </option>
    </select>
  </div>

  <div class="field">
    <%= form.label :name, '設備序號' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :direction_code, '臨時碼' %>
    <%= form.text_field :direction_code %>（選填）
  </div>

  <div class="field">
    <%= form.label :note, '臨時碼說明欄' %>
    <%= form.text_field :note %>
  </div>

  <div class="field">
    <%= form.label :display_name, '設備編碼' %>
    <%= form.button '產生編碼', { name: 'display_name' } %>
    <%= equipment_item.display_name if equipment_item.display_name_generatable? %>
  </div>

  <div class="field">
    <%= form.label :map_image, '上傳設備位置地圖' %>
    <%= form.file_field :map_image %><br>
    <% if equipment_item.map_image %>
      <%= image_tag equipment_item.map_image_url, width: 500 %>
    <% end %><br>
  </div>

  <div class="actions">
    <%= form.submit '確認註冊' %>
  </div>
<% end %>

<script>
<% 
  first_layer1 = Area.layer1.first
  layer2 = equipment_item.area || first_layer1.sub_areas.first
  layer1 = layer2&.owner || first_layer1
%>
new Vue({
  el: '#area-app',
  data: {
    layer1Options: <%= raw json_escape(Area.layer1.to_json) %>,
    layer2Options: <%= raw json_escape((layer1.sub_areas).to_json) %>,
    layer1Selected: <%= layer1&.id || first_layer1.id %>,
    layer2Selected: <%= layer2&.id || 0 %>
  },
  watch: {
    layer1Selected: function(newVal) {
      const self = this
      axios.get("<%= areas_path %>" + '?get_options=true&layer1_area_id=' + this.layer1Selected)
        .then(function(res) {
          self.layer2Options = res.data.layer2
          self.layer2Selected = res.data.layer2[0] ? res.data.layer2[0].id : self.layer2Selected
        })
    }
  }
})
</script>
