<h1>巡檢表單資料輸入</h1>

<div id="guide-app">
  <div id="divDropdown" class="dropdown">
    <div>
      工區：<select size="1" id="optArea1" v-model="layer1Selected">
        <option v-for="option in layer1Options" :value="option.id">
          {{ option.name }}
        </option>
      </select>
    </div>
    <table style="display: inline; margin-right: 40px;">
      <tr id="tr2" style="background-color:#ffffff">
        <td>
          <input type="radio" value="equComponentFirst" v-model="filterType" onclick="document.getElementById('tr1').style.backgroundColor='#FFFFFF';document.getElementById('tr2').style.backgroundColor='#FFCC33';"> 
          &emsp;以設備類別查詢：
        </td>

        <td>
          &emsp;設備類別
          <select size="1" id="optEq" v-model="equComponentSelected.equComponentFirst" :disabled="!isEquComponentFirst">
            <option v-for="option in equComponentOptions.equComponentFirst" :value="option.id">
              {{ option.name }}
            </option>
          </select>

          &emsp;安裝位置
          <select size="1" id="optArea2" v-model="layer2Selected.equComponentFirst" :disabled="!isEquComponentFirst">
            <option v-for="option in layer2Options.equComponentFirst" :value="option.id">
              {{ option.name }}
            </option>
          </select>
        </td>
      </tr>
      <tr id="tr1" style="background-color:#ffffff">
        <td>
          <input type="radio" value="layer2First" v-model="filterType" onclick="document.getElementById('tr1').style.backgroundColor='#FFCC33';document.getElementById('tr2').style.backgroundColor='#FFFFFF';"> 
          &emsp;以安裝位置查詢：
        </td>

        <td>
          &emsp;安裝位置
          <select size="1" id="optArea2" v-model="layer2Selected.layer2First" :disabled="!isLayer2First">
            <option v-for="option in layer2Options.layer2First" :value="option.id">
              {{ option.name }}
            </option>
          </select>

          &emsp;設備類別
          <select size="1" id="optEq" v-model="equComponentSelected.layer2First" :disabled="!isLayer2First">
            <option v-for="option in equComponentOptions.layer2First" :value="option.id">
              {{ option.name }}
            </option>
          </select>
        </td>

      </tr>


    </table>

    <input @click="getEquItems" :disabled="!isQueryable" type="button" value="查詢" id="btnSendResult" name="B1">
  </div>

  <p></p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>名稱</th>
        <th>所在區域</th>
        <th>型號</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="item in equItems">
        <td>{{ item.display_name }}</td>
        <td>{{ item.layer2 }}</td>
        <td>{{ item.model }}</td>

        <td>
          <button @click="() => startInspection(item.id)" class="btn btn-primary">輸入</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
new Vue({
  el: '#guide-app',
  data: {
    layer1Options: <%= raw json_escape(@layer1_areas.to_json) %>,
    layer2Options: { layer2First: [], equComponentFirst: [] },
    equComponentOptions: { layer2First: [], equComponentFirst: [] },
    layer1Selected: <%= @layer1_areas.first.id %>,
    layer2Selected: { layer2First: 0, equComponentFirst: 0 },
    equComponentSelected: { layer2First: 0, equComponentFirst: 0 },
    equItems: [],
    filterType: null
  },

  computed: {
    isLayer2First: function() {
      return this.filterType === 'layer2First'
    },

    isEquComponentFirst: function() {
      return this.filterType === 'equComponentFirst'
    },

    isQueryable: function() {
      return this.isEquComponentFirst || this.isLayer2First
    }
  },

  watch: {
    layer1Selected: function(newVal) {
      this.layer2Options = { layer2First: [], equComponentFirst: [] }
      this.equComponentOptions = { layer2First: [], equComponentFirst: [] }
      this.layer2Selected = { layer2First: 0, equComponentFirst: 0 },
      this.equComponentSelected = { layer2First: 0, equComponentFirst: 0 },
      this.filterType = null
      document.getElementById('tr1').style.backgroundColor='#FFFFFF'
      document.getElementById('tr2').style.backgroundColor='#FFFFFF'
    },

    filterType: function(newVal) {
      this.updateFirstLevelOptions(newVal, this.layer1Selected)
    },

    'layer2Selected.layer2First': function(newVal) {
      const self = this

      console.log(newVal)
      axios.get("<%= api_get_equ_component_path %>" + '?layer2_first=true&layer1_area_id=' + self.layer1Selected + '&layer2_area_id=' + newVal)
        .then(function(res) {
          self.equComponentOptions.layer2First = res.data
          self.equComponentSelected.layer2First = self.equComponentOptions.layer2First[0].id
        })
    },

    'equComponentSelected.equComponentFirst': function(newVal) {
      const self = this

      axios.get("<%= api_get_layer2_path %>" + '?equ_component_first=true&layer1_area_id=' + this.layer1Selected + '&equ_component_id=' + newVal)
      .then(function(res) {
        self.layer2Options.equComponentFirst = res.data
        self.layer2Selected.equComponentFirst = self.layer2Options.equComponentFirst[0].id
      })
    }
  },

  methods: {
    updateFirstLevelOptions: function(filterType, layer1) {
      const self = this

      if (filterType === 'layer2First') {
        axios.get("<%= api_get_layer2_path %>" + '?layer2_first=true&layer1_area_id=' + layer1)
          .then(function(res) {
            self.layer2Options.layer2First = res.data
            self.layer2Selected.layer2First = self.layer2Options.layer2First[0].id
          })
      }

      if (filterType === 'equComponentFirst') {
        axios.get("<%= api_get_equ_component_path %>" + '?equ_component_first=true&layer1_area_id=' + layer1)
          .then(function(res) {
            self.equComponentOptions.equComponentFirst = res.data
            self.equComponentSelected.equComponentFirst = self.equComponentOptions.equComponentFirst[0].id
          })
      }
    },

    getEquItems: function() {
      const self = this
      const layer2Id = this.layer2Selected[this.filterType]
      const equComponentId = this.equComponentSelected[this.filterType]


      axios.get("<%= equipment_items_path %>" + '?layer1_area_id=' + this.layer1Selected + '&layer2_area_id=' + layer2Id + '&equ_component_id=' + equComponentId)
        .then(function(res) { self.equItems = res.data })
    },

    startInspection: function (id) {
      window.open('/equipment/items/' + id + '/inspection_histories/new?back=false')
    }
  }
})
</script>
