<h1>設備安裝位置地圖導覽</h1>

<div id="guide-app">
  
  工區：<div id="divDropdown" class="dropdown">
    <select size="1" id="optArea1" v-model="layer1Selected">
      <option v-for="option in layer1Options" :value="option.id">
        {{ option.name }}
      </option>
    </select>

    &emsp;設施安裝位置：<select size="1" id="optArea2" v-model="layer2Selected">
      <option v-for="option in layer2Options" :value="option.id">
        {{ option.name }}
      </option>
    </select>

    &emsp;設備類別：<select size="1" id="optEq" v-model="equComponentSelected">
      <option v-for="option in equComponentOptions" :value="option.id">
        {{ option.name }}
      </option>
    </select>

    <input @click="getEquItems" type="button" value="篩選" id="btnSendResult" name="B1">
  </div>

  <p></p>

  <%= render partial: 'shared/jtable_print_and_csv_export_links' %>
  <table id="jTable" class="table">
    <thead class="thead-dark">
      <tr>
        <th>設備類型</th>
        <th>工區名稱</th>
        <th>設備安裝位置</th>
        <th>設備註冊碼</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <template v-if="targetItems.length > 0">
      <tr v-for="targetItem in targetItems">
        <td>{{ targetItem.component_name }}</td>
        <td>{{ targetItem.layer1 }}</td>
        <td>{{ targetItem.layer2 }}</td>
        <td>{{ targetItem.display_name }}</td>

        <td v-if="targetItem.map_image_url">
          <a class="btn btn-info" :href="targetItem.map_image_url" onclick="window.open(this.href, '', 'width=800,height=600, location=no,toolbar=no'); return false;">檢視安裝點地圖</a>
        </td>
        <td v-else>
        </td>
      </tr>
    </template>
    </tbody>
  </table>
</div>

<script>
var vueApp = true
</script>

<%= render partial: 'shared/jtable_and_csv_export_js' %>

<script>
new Vue({
  el: '#guide-app',
  data: {
    layer1Options: <%= raw json_escape(@layer1_areas.to_json) %>,
    layer2Options: [{ name: '全部', id: 0 }].concat(<%= raw json_escape(@layer2_areas.to_json) %>),
    equComponentOptions: [{ name: '全部', id: 0 }].concat(<%= raw json_escape(@equ_components.to_json) %>),
    layer1Selected: <%= @layer1_areas.first.id %>,
    layer2Selected: 0,
    equComponentSelected: 0,
    targetItems: []
  },

  mounted: function() {
    bindExportBtn()
    bindPrintBtn()
  },

  watch: {
    layer1Selected: function(newVal) {
      const self = this
      axios.get("<%= areas_path %>" + '?get_options=true&layer1_area_id=' + this.layer1Selected)
        .then(function(res) {
          console.log(res)
          self.layer2Options = [{ name: '全部', id: 0 }].concat(res.data.layer2)
          self.equComponentOptions = [{ name: '全部', id: 0 }].concat(res.data.equipment_components)
          self.layer2Selected = 0
          self.equComponentSelected = 0
        })
    },

    layer2Selected: function(newVal) {
      const self = this

      self.equComponentOptions = [{ name: '全部', id: 0 }]
      self.equComponentSelected = 0

      axios.get("<%= areas_path %>" + '?get_equ_options=true&layer1_area_id='+ this.layer1Selected + '&layer2_area_id=' + this.layer2Selected)
        .then(function(res) {
          self.equComponentOptions = [{ name: '全部', id: 0 }].concat(res.data)
        })
    }
  },

  methods: {
    getEquItems: function() {
      if (jTable) {
        jTable.destroy()
      }

      const self = this

      axios.get("<%= equipment_items_path %>" + '?get_full_data=true&layer1_area_id=' + this.layer1Selected + '&layer2_area_id=' + this.layer2Selected + '&equ_component_id=' + this.equComponentSelected)
        .then(function(res) { self.targetItems = res.data })
        .then(function() { self.$nextTick(initDataTable()) })
    },

    qrcodeDownloadUrl: function(targetUrl) {
      return '/qrcode_download?target_url=' + targetUrl
    }
  }
})
</script>
