<h1>Equipment Items</h1>

<table>
  <thead>
    <tr>
      <th>Metadata</th>
      <th>Area</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_items.each do |equipment_item| %>
      <tr>
        <td><%= equipment_item.metadata_id %></td>
        <td><%= equipment_item.area_id %></td>
        <td><%= equipment_item.name %></td>
        <td><%= link_to '內容', equipment_item %></td>
        <td><%= link_to '編輯', edit_equipment_item_path(equipment_item) %></td>
        <td><%= link_to '刪除', equipment_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Item', new_equipment_item_path %>
