<p>
  <strong>公司:</strong>
  <%= @equipment_item.meta_datum.company %>
</p>

<p>
  <strong>Area:</strong>
  <%= @equipment_item.area.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= "#{@equipment_item.component.name}-#{@equipment_item.name}" %>
</p>

<p>
  <strong>QR Code</strong><br><br>
  <%== qrcode(new_equipment_item_inspection_history_url(@equipment_item)) %>

  <%= link_to '下載 QRCode', qrcode_download_path(target_url: new_equipment_item_inspection_history_url(@equipment_item)) %>
</p>

<h3>巡檢歷史紀錄</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>類型</th>
      <th>第幾次</th>
      <th>年度</th>
      <th>上傳時間</th>
      <th>編輯</th>
      <th>結果</th>
    </tr>
  </thead>
  <tbody>
    <% @inspection_histories.each do |history| %>
      <tr>
        <td><%= history.maintain_type %></td>
        <td><%= history.serial_number %></td>
        <td><%= history.year %></td>
        <td><%= history.uploaded_at %></td>
        <td><%= link_to '編輯', edit_inspection_history_path(history) %></td>
        <td><%= link_to '查看結果', equipment_item_inspection_history_path(@equipment_item, history) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '開始巡檢', new_equipment_item_inspection_history_path(@equipment_item), target: '_blank' %> |
<%= link_to '編輯', edit_equipment_item_path(@equipment_item) %> |
<%= link_to 'Back', equipment_component_path(@equipment_item.component) %>
