<%= form_with(model: equipment_component, local: true) do |form| %>
  <% if equipment_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_component.errors.count, "error") %> prohibited this equipment_component from being saved:</h2>

      <ul>
        <% equipment_component.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, '名稱' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code, '代碼' %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :inspection_form_name, '巡檢表單' %>
    <%= form.select :inspection_form_name, Inspection::Form.all.map(&:name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
