<h1>設備類別資料管理</h1>

<p>
  <%= link_to '新增設備類別', new_equipment_component_path, class: 'btn btn-primary' %>
</p>

<%= render partial: 'shared/jtable_print_and_csv_export_links' %>

<table id="jTable" class="table">
  <thead class="thead-dark">
    <tr>
      <th>設備名稱</th>
      <th>設備代碼</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_components.each do |equipment_component| %>
      <tr>
        <td><%= equipment_component.name %></td>
        <td><%= equipment_component.code %></td>
        <td><%= link_to '設備註冊', equipment_component, class: 'btn btn-outline-dark' %>
        <%= link_to '編輯', edit_equipment_component_path(equipment_component), class: 'btn btn-info' %>
        <%= link_to '刪除', equipment_component, method: :delete, data: { confirm: '注意！執行刪除設備類別時，若已有註冊上線設備將同時被刪除，若要不影
響已上線設備，請用『編輯』修改資料，請確認是否仍要刪除該設備類別？' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'shared/jtable_and_csv_export_js' %>
