<h2>設備內容管理</h2>

<p>
  <h4>
    <strong>組件名稱:</strong>
    <%= @equipment_component.name %>
  </h4>
</p>

<hr> 

<h4>
  設備資訊列表
  <%= link_to '新增', new_equipment_meta_datum_path(component_id: @equipment_component.id), class: 'btn btn-primary' %>
</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>公司</th>
      <th>型號</th>
      <th>手冊下載</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meta_data.each do |datum| %>
      <tr>
        <td><%= datum.company %></td>
        <td><%= datum.equ_model %></td>
        <% if datum.fc_para&.exists?  %>
          <td><%= link_to 'Download', download_pdf_equipment_meta_datum_path(datum) %></td>
        <% else %>
          <td>未上傳</td>
        <% end %>
        <td>
          <%= link_to '編輯', edit_equipment_meta_datum_path(datum), class: 'btn btn-info' %>
          <%= link_to '刪除', datum, method: :delete, data: { confirm: '注意！執行刪除設備類別時，若已有註冊上線設備將同時被刪除，若要不影
響已上線設備，請用『編輯』修改資料，請確認是否仍要刪除該設備類別？' }, class: 'btn btn-danger' %>
          <%= link_to '註冊新設備', new_equipment_item_path(meta_datum_id: datum), class: 'btn btn-outline-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr> 

<h4>設備上線註冊資料</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>名稱</th>
      <th>所在區域</th>
      <th>型號</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_items.each do |item| %>
      <tr>
        <td><%= item.display_name %></td>
        <td><%= "#{item.area.owner&.name}-#{item.area.name}" %></td>
        <td><%= item.meta_datum.equ_model %></td>

        <td>
          <%= link_to '內容', item, class: 'btn btn-dark' %>
          <%= link_to '編輯', edit_equipment_item_path(item), class: 'btn btn-info' %>
          <%= link_to '刪除', item, method: :delete, data: { confirm: '確定刪除設備？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr> 

<%= link_to 'Back', equipment_components_path %>
