<%= form_with(model: inspection_result, local: true) do |form| %>
  <% if inspection_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inspection_result.errors.count, "error") %> prohibited this inspection_result from being saved:</h2>

      <ul>
        <% inspection_result.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_area :result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
