<h1>Inspection Results</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspection_results.each do |inspection_result| %>
      <tr>
        <td><%= inspection_result.item_id %></td>
        <td><%= inspection_result.result %></td>
        <td><%= link_to '內容', inspection_result %></td>
        <td><%= link_to '編輯', edit_inspection_result_path(inspection_result) %></td>
        <td><%= link_to '刪除', inspection_result, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspection Result', new_inspection_result_path %>
