<p>
  <strong>Item:</strong>
  <%= @inspection_result.item_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @inspection_result.result %>
</p>

<%= link_to '編輯', edit_inspection_result_path(@inspection_result) %> |
<%= link_to 'Back', inspection_results_path %>
