<%= form_with(model: inspection_history, url: [equipment_item, inspection_history], local: true) do |form| %>
  <% if inspection_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inspection_history.errors.count, "error") %> prohibited this inspection_history from being saved:</h2>

      <ul>
        <% inspection_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>編號</th>
        <th>巡檢項目</th>
        <th>巡檢結果</th>
        <th>照片上傳</th>
      </tr>
    </thead>

    <tbody>
      <% equipment_item.inspection_form.items.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.content %></td>
          <td>
            <% result = inspection_history.results.find_by(item_id: item.id) %>
            <%= form.fields_for :results, result do |results_form| %>
              <%= results_form.text_field :result %>
              <%= results_form.hidden_field :item_id, value: item.id %>
          </td>
          <td>
              <% if result&.photos %>
                <% result.photos.each do |photo| %>
                  <%= image_tag photo.image_url, style: 'width: 100px' %>
                  <%= results_form.fields_for :photos, photo do |p| %>
                    <%= p.hidden_field :image, value: p.object.cached_image_data %>
                    <%= p.file_field :image %>
                  <% end %>
                <% end %>
              <% else %>
                <%= results_form.fields_for :photos, result&.photos do |photo| %>
                  <%= photo.hidden_field :image, value: photo.object.cached_image_data %>
                  <%= photo.file_field :image %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= form.hidden_field :year, value: Time.zone.now.year %>
  <%= form.hidden_field :uploaded_at, value: Time.zone.now %>
  <%= form.submit '送出', class: 'btn btn-primary' %>
<% end %>
