<tr >
  <td colspan="6">
    <%= title %><br>
    <% if inspection_history.results[column1.to_s] %>
      <%= image_tag inspection_history.results[column1.to_s], width: 450 %>
    <% end %>

    <% if inspection_history.results[column2.to_s] %>
      <%= image_tag inspection_history.results[column2.to_s], width: 450 %>
    <% end %>
  </td>
</tr>
<tr >
  <td colspan="6">
    <%= form.file_field column1  %>
    <%= form.file_field column2  %>
    <%= form.submit '暫存', name: 'tmp'  %>
  </td>
</tr>    
