<tr>
  <td colspan="2">
    維運人員（簽）：</td>
  <td width="220" >　</td>
  <td colspan="2" >
    維運廠商（印）：</td>
  <td width="386" colspan="2" >　</td>
</tr>
<tr >
  <td colspan="7">
    ※繳交成果報告時，請維運人員簽名，並由維運廠商加蓋公司章(訂約章)或授權印章&nbsp;</td>
</tr>
</table>

<p><p>
  <% if @mode == 'update' %>
    編輯原因 <%= text_field_tag :reason %>
  <% end %>
  <%= form.submit '儲存上傳維運資料', name: @mode %>（請以鍵盤輸入）
  </p></p>

<script charset="utf-8">
  var reason_field = document.getElementById('reason')
  var update_btn = document.getElementsByName("update")[0]

  if (reason_field) {
    update_btn.disabled = true

    reason_field.onkeyup = function() {
      console.log(reason_field.value)
      if(reason_field.value.length > 0) {
        update_btn.disabled = false
      }

      if(reason_field.value.length === 0) {
        update_btn.disabled = true
      }
    }
  }
</script>


