<colgroup>
  <col width="47">
  <col width="190">
  <col width="215">
  <col width="100">
  <col width="176">
  <col width="148">
  <col width="122">
</colgroup>
<% if action_name == 'new' %>
  <tr>
    <td colspan="6" style="border: none;"></td>
    <td style="border: none;">
      <%= form.submit '開始產製表單', id: "start-inspection", style: 'font-size: 16px; float: right;' %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan="7"  width="1074" >
    <font size="4"><b><%= title %></font></b>
  </td>
</tr>
<tr >
  <td colspan="2" >
    專案名稱
  </td>
  <td colspan="3">
    <%= form.text_field :A_0_1_1, size: 61 %>
  </td>
  <td width="122" >
    表單編號
  </td>
  <td width="122" >
    <%= action_name == 'new' ? '' : @inspection_history.form_number %>
  </td>
</tr>
<tr>
  <td colspan="2">
    維護廠商
  </td>
  <td colspan="3" >
    <%= form.text_field :A_0_2_1, size: 61 %>
  </td>
  <td width="122" >
    檢查日期
  </td>
  <td width="122" >
    <%= (@inspection_history.uploaded_at || Time.zone.now).to_date %>
  </td>
  <%= form.hidden_field :uploaded_at, value: (@inspection_history.uploaded_at || Time.zone.now) %>
  <%= form.hidden_field :year, value: (@inspection_history.year || Time.zone.now.year) %>
</tr>
<tr  >
  <td colspan="2" >
    設備代號</td>
  <td width="220">
    <%= @equipment_item.display_name %></td>
  <td width="100" >
    設備廠牌</td>
  <td width="173" >
    <%= @equipment_item.meta_datum.company %></td>
  <td width="122" >
    設備型號</td>
  <td width="122" >
    <%= @equipment_item.meta_datum.equ_model %></td>
  <%= form.hidden_field :equipment_item_id, value: @equipment_item.id %>
</tr>
<tr >
  <td colspan="2">
    檢查結果</td>
  <td colspan="5">
    ○檢查合格　╳有缺失需改正　/無此檢查項目</td>
</tr>
