<h1><%= @inspection_history.equipment_item.display_name %>巡檢</h1>

<%= render 'form', equipment_item: @inspection_history.equipment_item, inspection_history: @inspection_history %>

<%= link_to '內容', @inspection_history %> |
<%= link_to 'Back', equipment_item_path(@inspection_history.equipment_item) %>
