<h1>歷史巡檢表單查詢</h1>

<div id="guide-app">
  
  <div id="divDropdown" class="dropdown">
    <div>
      工區：<select size="1" id="optArea1" v-model="layer1Selected">
        <option v-for="option in layer1Options" :value="option.id">
          {{ option.name }}
        </option>
      </select> &nbsp;&nbsp;
      篩選時間：    
      <%= select_date @from || 1.day.ago, { prefix: :from, end_year: Time.now.year } %> ~ 
      <%= select_date @to || Date.current, prefix: :to, end_year: Time.now.year %>
    </div>
    <p></p>
    <table style="display: inline; margin-right: 40px;">
      <tr id="tr2" style="background-color:#ffffff">
        <td>
          <input type="radio" value="equComponentFirst" v-model="filterType" onclick="document.getElementById('tr1').style.backgroundColor='#FFFFFF';document.getElementById('tr2').style.backgroundColor='#FFCC33';"> 
          &emsp;以設備類別查詢：
        </td>

        <td>
          &emsp;設備類別
          <select size="1" id="optEq" v-model="equComponentSelected.equComponentFirst" :disabled="!isEquComponentFirst">
            <option v-for="option in equComponentOptions.equComponentFirst" :value="option.id">
              {{ option.name }}
            </option>
          </select>

          &emsp;安裝位置
          <select size="1" id="optArea2" v-model="layer2Selected.equComponentFirst" :disabled="!isEquComponentFirst">
            <option v-for="option in layer2Options.equComponentFirst" :value="option.id">
              {{ option.name }}
            </option>
          </select>
        </td>
      </tr>
      <tr id="tr1" style="background-color:#ffffff">
        <td>
          <input type="radio" value="layer2First" v-model="filterType" onclick="document.getElementById('tr1').style.backgroundColor='#FFCC33';document.getElementById('tr2').style.backgroundColor='#FFFFFF';"> 
          &emsp;以安裝位置查詢：
        </td>

        <td>
          &emsp;安裝位置
          <select size="1" id="optArea2" v-model="layer2Selected.layer2First" :disabled="!isLayer2First">
            <option v-for="option in layer2Options.layer2First" :value="option.id">
              {{ option.name }}
            </option>
          </select>

          &emsp;設備類別
          <select size="1" id="optEq" v-model="equComponentSelected.layer2First" :disabled="!isLayer2First">
            <option v-for="option in equComponentOptions.layer2First" :value="option.id">
              {{ option.name }}
            </option>
          </select>
        </td>

      </tr>


    </table>

    <input @click="getHistories" :disabled="!isQueryable" type="button" value="查詢" id="btnSendResult" name="B1">
  </div>

  <p></p>

  <%= render partial: 'shared/jtable_print_and_csv_export_links' %>
  <table id="jTable" class="table">
    <thead class="thead-dark">
      <tr>
        <th>工區</th>
        <th>安裝於</th>
        <th>設備別</th>
        <th>年度</th>
        <th>次別</th>
        <th>表單號</th>
        <th>開始時間</th>
        <th>最後編輯時間</th>
        <th>功能</th>
      </tr>
    </thead>

    <tbody>
    <template v-if="targetItems.length > 0">
      <tr v-for="targetItem in targetItems">
        <td>{{ targetItem.layer1 }}</td>
        <td>{{ targetItem.layer2 }}</td>
        <td>{{ targetItem.component_name }}</td>
        <td>{{ targetItem.year }}</td>
        <td>{{ targetItem.serial_number }}</td>
        <td>{{ targetItem.form_number }}</td>
        <td>{{ targetItem.started_at }}</td>
        <td>{{ targetItem.last_updated_at }}</td>

        <td style="width: 15%">
          <a class="btn btn-primary" :href="showUrl(targetItem.id)">
            查看
          </a>
          <% unless current_user.viewer? %>
          <a class="btn btn-info" :href="editUrl(targetItem.id)">
            編輯
          </a>
          <% end %>
          <% if current_user.super_admin? || current_user.admin? %>
          <a class="btn btn-danger" href="#" @click="function(e) { e.preventDefault(); deleteHistory(targetItem.id) }">
            刪除
          </a>
          <% end %>
          <a class="btn btn-secondary" v-if="targetItem.has_fc_para" :href="targetItem.download_fc_para_url" target="_blank"> 
            手冊 
          </a>
        </td>
      </tr>
    </template>
    </tbody>
  </table>
</div>

<script>
var vueApp = true
</script>

<%= render partial: 'shared/jtable_and_csv_export_js' %>

<script>
new Vue({
  el: '#guide-app',
  data: {
    layer1Options: <%= raw json_escape(@layer1_areas.to_json) %>,
    layer2Options: { layer2First: [], equComponentFirst: [] },
    equComponentOptions: { layer2First: [], equComponentFirst: [] },
    layer1Selected: <%= @layer1_areas.first.id %>,
    layer2Selected: { layer2First: 0, equComponentFirst: 0 },
    equComponentSelected: { layer2First: 0, equComponentFirst: 0 },
    targetItems: [],
    filterType: null
  },

  computed: {
    isLayer2First: function() {
      return this.filterType === 'layer2First'
    },

    isEquComponentFirst: function() {
      return this.filterType === 'equComponentFirst'
    },

    isQueryable: function() {
      return this.isEquComponentFirst || this.isLayer2First
    }
  },

  mounted: function() {
    bindExportBtn()
    bindPrintBtn()
  },

  watch: {
    layer1Selected: function(newVal) {
      this.layer2Options = { layer2First: [], equComponentFirst: [] }
      this.equComponentOptions = { layer2First: [], equComponentFirst: [] }
      this.layer2Selected = { layer2First: 0, equComponentFirst: 0 },
      this.equComponentSelected = { layer2First: 0, equComponentFirst: 0 },
      this.filterType = null
      document.getElementById('tr1').style.backgroundColor='#FFFFFF'
      document.getElementById('tr2').style.backgroundColor='#FFFFFF'
    },

    filterType: function(newVal) {
      this.updateFirstLevelOptions(newVal, this.layer1Selected)
    },

    'layer2Selected.layer2First': function(newVal) {
      const self = this

      axios.get("<%= api_get_equ_component_path %>" + '?layer2_first=true&layer1_area_id=' + self.layer1Selected + '&layer2_area_id=' + newVal)
        .then(function(res) {
          self.equComponentOptions.layer2First = res.data
          self.equComponentSelected.layer2First = self.equComponentOptions.layer2First[0].id
        })
    },

    'equComponentSelected.equComponentFirst': function(newVal) {
      const self = this

      axios.get("<%= api_get_layer2_path %>" + '?equ_component_first=true&layer1_area_id=' + this.layer1Selected + '&equ_component_id=' + newVal)
      .then(function(res) {
        self.layer2Options.equComponentFirst = res.data
        self.layer2Selected.equComponentFirst = self.layer2Options.equComponentFirst[0].id
      })
    }
  },

  methods: {
    updateFirstLevelOptions: function(filterType, layer1) {
      const self = this

      if (filterType === 'layer2First') {
        axios.get("<%= api_get_layer2_path %>" + '?layer2_first=true&layer1_area_id=' + layer1)
          .then(function(res) {
            self.layer2Options.layer2First = res.data
            self.layer2Selected.layer2First = self.layer2Options.layer2First[0].id
          })
      }

      if (filterType === 'equComponentFirst') {
        axios.get("<%= api_get_equ_component_path %>" + '?equ_component_first=true&layer1_area_id=' + layer1)
          .then(function(res) {
            self.equComponentOptions.equComponentFirst = res.data
            self.equComponentSelected.equComponentFirst = self.equComponentOptions.equComponentFirst[0].id
          })
      }
    },

    getFromDate: function() {
      const year = $('#from_year').val()
      const month = $('#from_month').val()
      const day = $('#from_day').val()

      return year + '-' + month + '-' + day
    },

    getToDate: function() {
      const year = $('#to_year').val()
      const month = $('#to_month').val()
      const day = $('#to_day').val()

      return year + '-' + month + '-' + day
    },

    getHistories: function() {
      if (jTable) {
        jTable.destroy()
      }

      const self = this
      const layer2Id = this.layer2Selected[this.filterType]
      const equComponentId = this.equComponentSelected[this.filterType]
      const from = this.getFromDate()
      const to = this.getToDate()

      axios.get("<%= inspection_histories_path(format: :json) %>" + '?layer1_area_id=' + this.layer1Selected + '&layer2_area_id=' + layer2Id + '&equ_component_id=' + equComponentId + '&from=' + from + '&to=' + to)
        .then(function(res) { self.targetItems = res.data })
        .then(function() { self.$nextTick(initDataTable()) })
    },

    deleteHistory: function(id) {
      const self = this
      const csrfToken = document.querySelector("meta[name=csrf-token]").content

      if (confirm('Are you sure?')) {
        axios.delete(self.deleteUrl(id), {
          headers: {
            'X-CSRF-Token': csrfToken
          }
        })
        .then(function() {
          self.getHistories()
        })
      }
    },

    editUrl: function(id) {
      return '/inspection/histories/' + id + '/edit'
    },

    showUrl: function(id) {
      return '/inspection/histories/' + id
    },

    deleteUrl: function(id) {
      return '/inspection/histories/' + id + '.json'
    },
  }
})
</script>
