<h1><%= @equipment_item.display_name %>巡檢</h1>

<%= render 'form', equipment_item: @equipment_item, inspection_history: @inspection_history %>

<%= link_to 'Back', equipment_item_path(@equipment_item) %>
