<div>
  <ol>
    <li>設備名稱：<%= @inspection_history.equipment_item.display_name %></li>
    <li><%= @inspection_history.year %> 年第 <%= @inspection_history.serial_number %> 次巡檢</li>
    <li>上傳時間：<%= @inspection_history.uploaded_at %></li>
  </ol>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>編號</th>
      <th>巡檢項目</th>
      <th>巡檢結果</th>
      <th>照片</th>
    </tr>
  </thead>

  <tbody>
    <% @inspection_history.results.each_with_index do |result, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= result.item.content %></td>
        <td>
          <%= result.result %>
        </td>
        <td>
          <% result.photos.each do |photo| %>
            <%= image_tag photo.image_url, style: 'width: 200px' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '編輯', edit_inspection_history_path(@inspection_history) %> |
<%= link_to 'Back', equipment_item_path(@inspection_history.equipment_item) %>
