<%= form_with(model: user_operation_history, local: true) do |form| %>
  <% if user_operation_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_operation_history.errors.count, "error") %> prohibited this user_operation_history from being saved:</h2>

      <ul>
        <% user_operation_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :action_type %>
    <%= form.text_field :action_type %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :operated_at %>
    <%= form.datetime_select :operated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
