<h1>使用者操作歷程</h1>
<p></p>
<%= form_with(url: user_operation_histories_url, method: :get, local: true, class: 'form-inline') do |form| %>
  篩選時間：
  <%= select_date @from || 1.day.ago, prefix: :from, end_year: Time.now.year %> ~ 
  <%= select_date @to || Date.current, prefix: :to, end_year: Time.now.year %>
  &nbsp;&nbsp;&nbsp;
  篩選類型：<%= form.select :action_type, [['全部', 'all']].concat(User::OperationHistory.action_types.map { |k, v| [v, k] }) %>
  
  &nbsp;&nbsp;&nbsp;
  <%= form.button '篩選' %>
<% end %>
<p></p>

<%= render partial: 'shared/jtable_print_and_csv_export_links' %>

<table id="jTable" class="table">
  <thead class="thead-dark">
    <tr>
      <th>使用者</th>
      <th>操作類型</th>
      <th>操作內容</th>
      <th>時間</th>
    </tr>
  </thead>

  <tbody>
    <% @user_operation_histories.each do |user_operation_history| %>
      <tr>
        <td><%= user_operation_history.user.name %></td>
        <td><%= user_operation_history.action %></td>
        <td><%= user_operation_history.note %></td>
        <td><%= user_operation_history.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_prev_page @user_operation_histories, '上一頁', class: 'btn btn-primary' %> 
<%= link_to_next_page @user_operation_histories, '下一頁', class: 'btn btn-primary' %> 

<br>

<%= render partial: 'shared/jtable_and_csv_export_js' %>
