<!DOCTYPE html>
<html>
  <head>
    <title>INSSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background:linear-gradient(#3CCEFF,#006587); position:relative; padding-top: 0rem;  padding-bottom: 0rem;">
          <img alt="" src="/images/北區水資源局Logo2.png" style="position:relative;width:45px; height:45px; left: 5px;Top:-5px;">&nbsp;&nbsp;
          <label style=" position:relative;  padding-bottom: -0.20rem; width: 250px;" ><a href="<%= root_path %>" class="navbar-brand">經濟部水利署北區水資源局
          <br>
          <h6>巡檢服務</h6></a>
        
        </label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img border='0' src='/images/png-0072.png' width='40' height='40'>        
           巡檢管理
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/areas/guide">工區地圖導覽</a>
                <a class="dropdown-item" href="/equipment/items/guide">設備安裝位置地圖導覽</a>
                <% unless current_user.viewer? %>
                  <a class="dropdown-item" href="/equipment/items/create_inspection">巡檢表單資料輸入</a>
                <% end %>
                <a class="dropdown-item" href="/inspection/histories">歷史巡檢表單查詢</a>
              </div>
            </li>
          <% if current_user.admin? || current_user.super_admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img border='0' src='/images/png-0700.png' width='40' height='40'> 
               系統設置        </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/areas">工區資訊管理</a>
                <a class="dropdown-item" href="/equipment/components">設備資訊管理</a>
                <a class="dropdown-item" href="/equipment/items/management">已上線註冊設備管理</a>
              </div>
            </li>      
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/users" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img border='0' src='/images/png-0001.png' width='40' height='40'> 
                帳號管理
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/users">帳號權限管理</a>
                <a class="dropdown-item" href="/users/query">帳號權限查詢</a>
                <a class="dropdown-item" href="/user/operation_histories">使用者操作歷程查詢</a>
              </div>
            </li>
          <% end %>
            <li class="nav-item">
              <a class="nav-link" href="/manual.pdf" target="_blank" role="button" aria-haspopup="true" aria-expanded="false">
              <img border='0' src='/images/png-0002.png' width='40' height='40'> 
                使用手冊
              </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="<%= destroy_session_path %>" data-method="delete">
              <img border='0' src='/images/png-0080.png' width='40' height='40'> 
              登出
            </a>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>

    <div class="container">
      <% if notice %>
        <p id="notice" style="visibility: visible; height: 30px; background-color: rgb(150, 225, 0); border-radius: 0% 0% 8px 8px;" onclick="this.style.visibility='hidden';this.style.height='0px';">
          <%= notice %>
        </p>
      <% else %>
        <p></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
