<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=big5">
    <title><%= yield :title %></title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .table11_7 table {
        width:100%;
        margin:10px 0;
        border:0;
      }
      .table11_7 th {
        background-color:#00A5FF;
        color:#FFFFFF
      }
      .table11_7,.table11_7 th,.table11_7 td {
        font-size:0.95em;
        text-align:left;
        padding:4px;
        border-collapse:collapse;
      }
      .table11_7 th,.table11_7 td {
        border: 1px solid #2087fe;
        border-width:1px 0 1px 0;
        border:2px inset #ffffff;
      }
      .table11_7 tr {
        border: 1px solid #ffffff;
      }
    </style>
  </head>
  <body style="font-family:微軟正黑體;">
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <script charset="utf-8">
    <% if action_name == 'show' %>
     var form = document.getElementById('inspection-form');
     var elements = form.elements;

     for (var i = 0, len = elements.length; i < len; ++i) {
      if (elements[i].type === 'text') {
        elements[i].readOnly = true;
      } else {
        elements[i].disabled = true;
      }
     }
    <% end  %>
  </script>
</html>
