<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=big5">
    <title><%= yield :title %></title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .table11_7 table {
        width:100%;
        margin:10px 0;
        border:0;
      }
      .table11_7 th {
        background-color:#00A5FF;
        color:#FFFFFF
      }
      .table11_7,.table11_7 th,.table11_7 td {
        font-size:0.95em;
        text-align:left;
        padding:4px;
        border-collapse:collapse;
      }
      .table11_7 th,.table11_7 td {
        border: 1px solid #2087fe;
        border-width:1px 0 1px 0;
        border:2px inset #ffffff;
      }
      .table11_7 tr {
        border: 1px solid #ffffff;
      }
    </style>
  </head>
  <body style="font-family:微軟正黑體;">
    <div class="container">
      <nav class="nav">
        <%= link_to '回首頁', root_path, class: 'nav-link' %>
        <% if params[:back] != 'false' %>
          <a class="nav-link" href="#" onclick="window.location='<%= cookies[:inspection_form_back_path] %>'">回上一頁</a>
        <% end %>
        <a class="nav-link" href="/" target="_blank" onclick="window.print(); return false;">列印資料</a>

        <% if File.file?(@inspection_history.archive_file_path) %>
          <%= link_to '檔案下載', @inspection_history.archive_link_path, class: 'nav-link', download: @inspection_history.pdf_filename %>
        <% end %>
      </nav>
      
      <% if notice %>
        <p id="notice" style="visibility: visible; height: 30px; background-color: rgb(150, 225, 0); border-radius: 0% 0% 8px 8px;" onclick="this.style.visibility='hidden';this.style.height='0px';">
          <%= notice %>
        </p>
      <% end %>


      <%= yield %>

      <% if @inspection_history.started_at %>
        <p>
          <b>開始時間 <%= @inspection_history.started_at.to_datetime.strftime("%Y/%m/%d %H:%M:%S") %></b>
        </p>
      <% end %>

      <% if @inspection_history.completed_at %>
        <p>
          <b>完成時間 <%= @inspection_history.completed_at.to_datetime.strftime("%Y/%m/%d %H:%M:%S") %></b>
        </p>
      <% end %>

      <% if @inspection_history.updates && @inspection_history.updates.size > 0 %>
        <p>
          <b>編輯紀錄</b>
          <ul>
            <% (@inspection_history.updates || []).each_with_index do |update, index| %>
              <li><%= "#{update[:at].to_datetime.strftime("%Y/%m/%d %H:%M:%S")} 第 #{index + 1} 次編輯。原因：#{update[:reason]}" %></li>
            <% end %>
          </ul>
        </p>
      <% end %>

    </div>
  </body>

  <script charset="utf-8">
    <% if action_name.in?(['show', 'new']) %>
     var form = document.getElementById('inspection-form');
     var elements = form.elements;

     for (var i = 0, len = elements.length; i < len; ++i) {
      if (elements[i].id === 'start-inspection') {
       continue;
      }

      if (elements[i].type === 'hidden') {
       continue;
      }

      if (elements[i].name === 'authenticity_token') {
       continue;
      }

      if (elements[i].type === 'text') {
        elements[i].readOnly = true;
      } else {
        elements[i].disabled = true;
      }
     }
    <% end  %>
  </script>
</html>
